{% extends 'layouts/admin.html.twig' %}

{% block content %}
    <h1 class="page-header">Editar cuota</h1>

    <ul class="breadcrumb">
        <li><a href="{{ url('zone_list') }}">Fraccionamientos</a> <span class="divider">/</span></li>
        <li><a href="{{ url('fee_list', {'zoneId':params.zoneId}) }}">Cuotas</a> <span class="divider">/</span></li>
        <li class="active">Editar cuota</li>
    </ul>

    {% include 'sections/admin/form.html.twig' %}
{% endblock %}

{% block jquery %}
<script type="text/javascript" src="/scripts/jquery.send.js"></script>
{% endblock %}
