{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Cuotas<small> {{ zone.name }} </small></h1>

<ul class="breadcrumb">
    <li><a href="{{ url('zone_list') }}">Fraccionamientos</a> <span class="divider">/</span></li>
    <li class="active">Cuotas</li>
</ul>

<p>
    <a class="btn btn-success" href="{{ url('fee_create', {'zoneId':params.zoneId}) }}">
        Agregar
    </a>
</p>

<table class="table table-striped table-bordered table-hover">
    {% for fee in paginator %}
        {% if loop.first %}
            <thead>
                <tr>
                    <th>Concepto</th>
                    <th>Cuota autorizada</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        {% endif %}
    {% endfor %}
            <tbody>
            {% for fee in paginator %}
                <tr>
                    <td>{{ fee.concept }}</td>
                    <td>${{ fee.amount }}</td>
                    <td>
                        <a href="{{ url('fee_edit', {"zoneId": params.zoneId,"feeId": fee.fee_id}) }}">
                            Editar
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('fee_remove', {"zoneId": params.zoneId,"feeId": fee.fee_id}) }}">
                            Eliminar
                        </a>
                    </td>
                </tr>
        {% else %}
            <tr class="info">
                <td colspan="4">
                    <p class="lead text-center">Aún no existen cuotas</p>
                </td>
            </tr>

    {% endfor %}
        </tbody>
        <tfoot>
            <td colspan="4">
                <div class="pagination text-center">
                    {{ pagerfanta(paginator, {'routeName': 'fee_list', routeParams:{'zoneId':params.zoneId}})|raw }}
                </div>
            </td>
        </tfoot>
</table>
{% endblock %}
