{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Eliminar cuota</h1>

<ul class="breadcrumb">
    <li><a href="{{ url('zone_list') }}">Fraccionamientos</a> <span class="divider">/</span></li>
    <li><a href="{{ url('fee_list', {'zoneId':params.zoneId}) }}">Cuotas</a> <span class="divider">/</span></li>
    <li class="active">Eliminar cuota</li>
</ul>

<form method="post" action="{{ url('fee_delete', {"zoneId": params.zoneId, "feeId": entity.fee_id}) }}">
    <ul class="entity">
        <li class="campo">
            <span class="label">Cuota autorizada: </span>
            <span>${{ entity.amount }}</span>
        </li>
    </ul>
    <div class="form-actions">
    <button value="Eliminar" type="submit" class="btn btn-danger">Eliminar</button>
    </div>
</form>
{% endblock %}
