{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Realizar pago de fraccionamiento</h1>
{% include 'sections/admin/form.html.twig' %}
{% endblock %}

{% block jquery %}
<script type="text/javascript" src="/scripts/jquery/widget/jquery.ui.ajaxerror.js"></script>
<script type="text/javascript" src="/scripts/jquery/widget/jquery.ui.ajaxloader-1.0.js"></script>
<script type="text/javascript" src="/scripts/jquery/plugins/jquery.ui.zonepayment.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var options = {};
    $('form').zonepayment(options);
    $(".ui-date").datepicker({ dateFormat: "yy-mm-dd" });
});
</script>
<script type="text/javascript" src="/scripts/jquery.send.js"></script>
{% endblock %}
