<div id="listPayment">
    <h1 class="page-header">Pagos</h1>

    <table class="table table-striped table-bordered table-hover">
        {% for zone_payment in items %}
            {% if loop.first %}
                <thead>
                    <tr>
                        <th>Cuota</th>
                        <th>Cuota autorizada</th>
                        <th>Cantidad pagada</th>
                        <th>Fecha de pago</th>
                        <th>I.V.A</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            {% endif %}
        {% endfor %}
            <tbody>
                {% for zone_payment in items %}
                <tr>
                    <td>{{ zone_payment.concept }}</td>
                    <td>${{ zone_payment.amount }}</td>
                    <td>${{ zone_payment.amount_paid }}</td>
                    <td>{{ zone_payment.date }}</td>
                    <td>${{ zone_payment.amount*0.16|number_format(2, '.', ',') }}</td>
                    <td>
                        <a href="{{ url('zone-payment_edit', {"zonePaymentId": zone_payment.zone_payment_id}) }}">
                            Editar
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('zone-payment_remove', {"zonePaymentId": zone_payment.zone_payment_id}) }}">
                            Eliminar
                        </a>
                    </td>
                </tr>
        {% else %}
                <tr class="info">
                    <td colspan="7">
                        <p class="lead text-center">Aún no existen pagos</p>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
    </table>
</div>
