{% extends 'layouts/admin.html.twig' %}

{% block content %}
    <h1 class="page-header">Agregar propiedad</h1>

    <ul class="breadcrumb">
        <li><a href="{{ url('zone_list') }}">Fraccionamientos</a> <span class="divider">/</span></li>
        <li><a href="{{ url('property_list', {'zoneId':params.zoneId}) }}">Propiedades</a> <span class="divider">/</span></li>
        <li class="active">Agregar propiedad</li>
    </ul>

    {% include 'sections/admin/form.html.twig' %}
{% endblock %}

{% block jquery %}
<script>
$(function() {
    $(".ui-date").datepicker({ dateFormat: "yy-mm-dd" });
});
</script>
<script type="text/javascript" src="/scripts/jquery.send.js"></script>
{% endblock %}
