<option value="" label="-- Seleccionar --">Selecciona una propiedad</option>
{% for property in properties %}
    <option value="{{ property.property_id }}">{{ property.street }} {{ property.number }}</option>
{% endfor %}
