{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="span12">
        <h1 class="page-header">Propiedades</h1>

        <table class="table table-striped table-bordered table-hover">
            {% for property in paginator %}
                {% if loop.first %}
                    <thead>
                        <tr>
                            <th>Calle</th>
                            <th>Numero</th>
                        </tr>
                    </thead>
                {% endif %}
                <tbody>
                    <tr>
                        <td class="fpar">
                            {{ property.street }}
                        </td>
                        <td class="fpar">
                            {{ property.number }}
                        </td>
                    </tr>
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td>
                            <div class="alert alert-block"><p class="lead">Aún no existen propiedades</p></div>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
                <tfoot>
                    <td colspan="2">
                        <div class="pagination text-center">
                            {{ pagerfanta(paginator, {'routeName': 'property_list-zone'})|raw }}
                        </div>
                    </td>
                </tfoot>
        </table>
    </div>
</div>
{% endblock %}
