{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Propiedades <small> {{ zone.name }} </small></h1>

<ul class="breadcrumb">
    <li><a href="{{ url('zone_list') }}">Fraccionamientos</a> <span class="divider">/</span></li>
    <li class="active">Propiedades</li>
</ul>

<p>
    <a class="btn btn-success" href="{{ url('property_create', {'zoneId':params.zoneId}) }}">
        Agregar
    </a>
</p>

<table class="table table-striped table-bordered table-hover">
        {% for property in paginator %}
            {% if loop.first %}
                <thead>
                    <tr>
                        <th>Propiedad</th>
                        <th>Condómino</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            {% endif %}
    {% endfor %}
        <tbody>
        {% for property in paginator %}
            <tr>
                <td>{{ property.street }} {{ property.number }}</td>
                <td>{{ property.first_name }} {{ property.paternal_surname }} {{ property.maternal_surname }}</td>
                <td>
                    <a href="{{ url('property_edit', {'zoneId':params.zoneId, "propertyId": property.property_id}) }}">
                        Editar
                    </a>
                </td>
                <td>
                    <a href="{{ url('property_remove', {'zoneId':params.zoneId, "propertyId": property.property_id}) }}">
                        Eliminar
                    </a>
                </td>
            </tr>
    {% else %}
        <tr class="info">
            <td colspan="4">
                <p class="lead text-center">Aún no existen propiedades</p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <td colspan="4">
            <div class="pagination text-center">
                {{ pagerfanta(paginator, {'routeName': 'property_list', routeParams:{'zoneId':params.zoneId}})|raw }}
            </div>
        </td>
    </tfoot>
</table>
{% endblock %}
