{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Eliminar propiedad</h1>

<ul class="breadcrumb">
    <li><a href="{{ url('zone_list') }}">Fraccionamientos</a> <span class="divider">/</span></li>
    <li><a href="{{ url('property_list', {'zoneId':params.zoneId}) }}">Propiedades</a> <span class="divider">/</span></li>
    <li class="active">Eliminar propiedad</li>
</ul>

<form method="post" action="{{ url('property_delete', {'zoneId':params.zoneId, "propertyId": entity.property_id}) }}">
    <ul class="entity">
        <li class="campo">
            <span class="label">Calle: </span>
            <span>{{ entity.street }}</span>
        </li>
        <li class="campo">
            <span class="label">Número: </span>
            <span>{{ entity.number }}</span>
        </li>
        <li class="campo">
            <span class="label">Manzana: </span>
            <span>{{ entity.block }}</span>
        </li>
        <li class="campo">
            <span class="label">Lote: </span>
            <span>{{ entity.lot }}</span>
        </li>
    </ul>
    <div class="form-actions">
        <button value="Eliminar" type="submit" class="btn btn-danger">Eliminar</button>
    </div>
</form>
{% endblock %}
