{% extends 'layouts/admin.html.twig' %}

{% block content %}
    <h1 class="page-header">Estado de cuenta</h1>

    {% include 'sections/admin/form.html.twig' %}
{% endblock %}

{% block jquery %}
<script type="text/javascript" src="/scripts/jquery/widget/jquery.ui.ajaxerror.js"></script>
<script type="text/javascript" src="/scripts/jquery/widget/jquery.ui.ajaxloader-1.0.js"></script>
<script type="text/javascript" src="/scripts/jquery/plugins/jquery.ui.account-balance.js"></script>
<script>
$(function() {
    $('.ui-date').datepicker({dateFormat: 'yy-mm-dd'});
    $('form').accountBalance();
});
</script>
{% endblock %}
