{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Estado de cuenta</h1>

<div class="alert alert-info" role="alert">Pagos del condómino anterior</div>
<div class="alert alert-warning" role="alert">Pagos tomados del saldo inicial</div>

<p>
    <span class="label">Nombre: </span>
    <span>
        {{ account.client.first_name ~ ' ' ~ account.client.paternal_surname ~ ' ' ~ account.client.maternal_surname }}
    </span>
</p>
{% if account.client.rfc is empty %}
    <p><span class="label">RFC: </span><span>Sin datos</span></p>
{% else %}
    <p><span class="label">RFC: </span><span>{{ account.client.rfc }}</span></p>
{% endif %}
<h2>Montos</h2>
<table class="table table-striped table-bordered table-hover">
    {% for payment in account.payments %}
        {% if loop.first %}
            <thead>
                <tr>
                    <th>Propiedad</th>
                    <th>Concepto</th>
                    <th>Fecha</th>
                    <th>Cuota autorizada</th>
                    <th>Recargo</th>
                    <th>Cantidad pagada</th>
                    <th>Total</th>
                </tr>
            </thead>
        {% endif %}
        {% if payment.isOpeningBalance() %}
            {% set class = 'warning' %}
        {% elseif account.client.client_id != payment.payor_client_id %}
            {% set class = 'info' %}
        {% else %}
            {% set class = '' %}
        {% endif %}
        <tr class="{{ class }}">
            <td>{{ payment.street }} {{ payment.number }}</td>
            <td>{{ payment.concept}}</td>
            <td>{{ payment.payment_date|localizeddate('long', 'none', 'es', 'America/Mexico_City', 'MMMM yyyy')|title }}</td>
            <td>${{ payment.amount }}</td>
            {% if payment.surcharge_id is null %}
                <td>$0.00</td>
            {% else %}
                <td>${{ payment.surcharge_amount|number_format(2, '.', ',') }}</td>
            {% endif %}
            <td>${{ payment.amount_paid }}</td>
            <td>${{ account.partialBalance(payment)|number_format(2, '.', ',')}}</td>
        </tr>
    {% else %}
        <tbody>
            <tr class="info">
                <td colspan="7"><p class="lead text-center">Aún no existen pagos</p></td>
            </tr>
        </tbody>
    {% endfor %}
        <tr>
            <td colspan="6"><p class="text-right lead">Saldo inicial</p></td>
            <td><span class="lead">${{ account.client.opening_balance|number_format(2, '.', ',') }}</span></td>
        </tr>
        <tr>
            <td colspan="6"><p class="text-right lead">Pagos saldo inicial</p></td>
            <td><span class="lead">${{ account.totalOpeningBalance()|number_format(2, '.', ',') }}</span></td>
        </tr>
        <tr>
            <td colspan="6"><p class="text-right lead">Saldo inicial actual</p></td>
            <td><span class="lead">${{ account.currentOpeningBalance()|number_format(2, '.', ',') }}</span></td>
        </tr>
        <tr>
            <td colspan="6"><p class="text-right lead">Saldo de pagos</p></td>
            <td><span class="lead">${{ account.totalPayments()|number_format(2, '.', ',') }}</span></td>
        </tr>
        <tr>
            <td colspan="6"><p class="text-right lead">Total</p></td>
            <td><span class="lead">${{ account.total()|number_format(2, '.', ',') }}</span></td>
        </tr>
</table>

{% endblock %}
