{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Agregar administrador</h1>

<ul class="breadcrumb">
    <li><a href="{{ url('profile_list') }}">Administradores</a> <span class="divider">/</span></li>
    <li class="active">Agregar administrador</li>
</ul>

{% include 'sections/admin/form.html.twig' %}
{% endblock %}

{% block jquery %}
<script>
$(function() {
	$(".ui-date").datepicker({ dateFormat: "yy-mm-dd" });
});
</script>
<script type="text/javascript" src="/scripts/jquery.send.js"></script>
{% endblock %}
