{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Administradores</h1>

<p>
    <a class="btn btn-success" href="{{ url('profile_create') }}">Agregar</a>
</p>

<table class="table table-striped table-bordered table-hover">
        {% for profile in paginator %}
            {% if loop.first %}
                <thead>
                    <tr>
                        <th>Nombre (nombre de usuario)</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            {% endif %}
        {% endfor %}
        <tbody>
        {% for profile in paginator %}
            <tr>
                <td>
                    {{ profile.first_name }} {{ profile.paternal_surname }} {{ profile.maternal_surname }} ({{ profile.username }})
                </td>
                <td>
                    <a href="{{ url('profile_change-password', {'profileId':profile.profile_id}) }}">
                        Cambiar contraseña
                    </a>
                </td>
                <td>
                    <a href="{{ url('profile_edit', {'profileId':profile.profile_id}) }}">
                        Editar
                    </a>
                </td>
                <td>
                    <a href="{{ url('profile_remove', {'profileId':profile.profile_id}) }}">
                        Eliminar
                    </a>
                </td>
            </tr>
        </tbody>
        {% else %}
            <tr class="info">
                <td colspan="4">
                    <p class="lead text-center">Aún no existen administradores</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <td colspan="4">
                <div class="pagination text-center">
                    {{ pagerfanta(paginator, {'routeName': 'profile_list'})|raw }}
                </div>
            </td>
        </tfoot>
</table>
{% endblock %}
