{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Eliminar administrador</h1>

<ul class="breadcrumb">
    <li><a href="{{ url('profile_list') }}">Administradores</a> <span class="divider">/</span></li>
    <li class="active">Eliminar administrador</li>
</ul>

<form method="post" action="{{ url('profile_delete', {"profileId": entity.profile_id}) }}">
    <ul class="entity">
        <li>
            <span class="label">Apellido Paterno: </span>
            <span>{{ entity.paternal_surname }}</span>
        </li>
        <li>
            <span class="label">Apellido Materno: </span>
            <span>{{ entity.maternal_surname }}</span>
        </li>
        <li>
            <span class="label">Nombre: </span>
            <span>{{ entity.first_name }}</span>
        </li>
        <li>
            <span class="label">Fecha de nacimiento: </span>
            <span>{{ entity.birth }}</span>
        </li>
    </ul>
    <div class="form-actions">
        <button value="Eliminar" type="submit" class="btn btn-danger">Eliminar</button>
    </div>
</form>
{% endblock %}
