{% extends 'layouts/admin.html.twig' %}

{% block content %}
    <h1 class="page-header">Cambiar contraseña</h1>

    <ul class="breadcrumb">
        <li><a href="{{ url('client_list') }}">Condóminos</a> <span class="divider">/</span></li>
        <li class="active">Cambiar contraseña</li>
    </ul>

    {% include 'sections/admin/form.html.twig' %}
{% endblock %}
