{% extends 'layouts/admin.html.twig' %}

{% block content %}
    <h1 class="page-header">Agregar condómino</h1>

    <ul class="breadcrumb">
        <li><a href="{{ url('client_list') }}">Condóminos</a> <span class="divider">/</span></li>
        <li class="active">Agregar condómino</li>
    </ul>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#">1) Datos personales</a></li>
        <li><a href="#" class="muted">2) Propiedad</a></li>
    </ul>
    {% include 'sections/admin/form.html.twig' %}
{% endblock %}

{% block jquery %}
<script type="text/javascript" src="/scripts/jquery/widget/jquery.ui.ajaxerror.js"></script>
<script type="text/javascript" src="/scripts/jquery/widget/jquery.ui.ajaxloader-1.0.js"></script>
<script type="text/javascript" src="/scripts/jquery/widget/jquery.ui.autocomplete.js"></script>
<script type="text/javascript" src="/scripts/jquery/plugins/jquery.ui.client.js"></script>
<script>
$(function() {
    $( "#property" ).combobox();
    $('#autocomplete').addClass('ui-helper-hidden-accessible');
    $('form').client({});
	$(".ui-date").datepicker({ dateFormat: "yy-mm-dd" });
	$('#breacrumb a ').on('click', function() {
		return false;
	});
});
</script>
<script type="text/javascript" src="/scripts/jquery.send.js"></script>
{% endblock %}
