{% extends 'layouts/admin.html.twig' %}

{% block content %}
    <h1 class="page-header">Agregar condómino</h1>

    <ul class="breadcrumb">
        <li><a href="{{ url('client_list') }}">Condóminos</a> <span class="divider">/</span></li>
        <li class="active">Agregar condómino</li>
    </ul>

    <ul class="nav nav-tabs">
        <li><a href="#">1) Datos personales</a></li>
        <li class="active"><a href="#" class="muted">2) Propiedad</a></li>
    </ul>
    {% include 'sections/admin/form.html.twig' %}
{% endblock %}

{% block jquery %}
<script>
$(function() {
    $(".ui-date").datepicker({ dateFormat: "yy-mm-dd" });
    $('#breacrumb a ').on('click', function() {
		return false;
	});
});
</script>
<script type="text/javascript" src="/scripts/jquery.send.js"></script>
{% endblock %}
