{% extends 'layouts/admin.html.twig' %}

{% block content %}
    <h1 class="page-header">Editar condómino</h1>

    <ul class="breadcrumb">
        <li><a href="{{ url('client_list') }}">Condóminos</a> <span class="divider">/</span></li>
        <li class="active">Editar condómino</li>
    </ul>

    {% include 'sections/admin/form.html.twig' %}
{% endblock %}

{% block jquery %}
<script type="text/javascript">
$('.ui-date').datepicker({dateFormat: 'yy-mm-dd'});
</script>
<script type="text/javascript" src="/scripts/jquery.send.js"></script>
{% endblock %}
