<option value="" label="-- Seleccionar --">Selecciona un condómino</option>
{% for homeowner in homeowners %}
    <option value="{{ homeowner.client_id }}">{{ homeowner.first_name }} {{ homeowner.paternal_surname }} {{ homeowner.maternal_surname }}</option>
{% endfor %}
