{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Condóminos</h1>

<p><a class="btn btn-success" href="{{ url('client_create') }}">Agregar</a></p>

<table class="table table-striped table-bordered table-hover">
    {% for client in paginator %}
        {% if loop.first %}
            <thead>
                <tr>
                    <th>Nombre (nombre de usuario)</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        {% endif %}
    {% endfor %}
        <tbody>
            {% for client in paginator %}
            <tr>
                <td>
                    {{ client.first_name }} {{ client.paternal_surname }} {{ client.maternal_surname }} ({{ client.username }})
                </td>
                <td>
                    <a href="{{ url('client_change-password', {"clientId": client.client_id}) }}">
                        Cambiar contraseña
                    </a>
                </td>
                <td>
                    <a href="{{ url('client_edit', {"clientId": client.client_id}) }}">
                        Editar
                    </a>
                </td>
            </tr>
        {% else %}
            <tr class="info">
                <td colspan="3">
                    <p class="lead text-center">Aún no existen condóminos</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <td colspan="3">
                <div class="pagination text-center">
                    {{ pagerfanta(paginator, {'routeName': 'client_list'})|raw }}
                </div>
            </td>
        </tfoot>
</table>
{% endblock %}
