{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Eliminar condómino</h1>

<ul class="breadcrumb">
    <li><a href="{{ url('client_list') }}">Condóminos</a> <span class="divider">/</span></li>
    <li class="active">Eliminar condómino</li>
</ul>

<form method="post" action="{{ url('client_delete', {"clientId": entity.client_id}) }}">
    <ul class="entity">
        <li class="campo">
            <span class="label">Razon social: </span>
            <span>{{ entity.social_reason }}</span>
        </li>
        {% if entity.car is empty %}
        <li class="campo">
            <span class="label">Automovil: </span>
            <span>Ninguno</span>
        </li>
        {% else %}
        <li class="campo">
            <span class="label">Automovil: </span>
            <span>{{ entity.car }}</span>
        </li>
        {% endif %}
        <li class="campo">
            <span class="label">Correo eléctronico: </span>
            <span>{{ entity.email }}</span>
        </li>
        {% if entity.phone is empty %}
        <li class="campo">
            <span class="label">Telefóno: </span>
            <span>Ninguno</span>
        </li>
        {% else %}
        <li class="campo">
            <span class="label">Telefóno: </span>
            <span>{{ entity.phone }}</span>
        </li>
        {% endif %}
        {% if entity.movil is empty %}
        <li class="campo">
            <span class="label">Celular: </span>
            <span>Ninguno</span>
        </li>
        {% else %}
        <li class="campo">
            <span class="label">Celular: </span>
            <span>{{ entity.movil }}</span>
         </li>
         {% endif %}
         <li class="campo">
            <span class="label">RFC: </span>
            <span>{{ entity.rfc }}</span>
         </li>
     </ul>
    <div class="form-actions">
        <button value="Eliminar" type="submit" class="btn btn-danger">Eliminar</button>
    </div>
</form>
{% endblock %}
