<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>IKÁ</title>
<link href="/themes/formularios.css" rel="stylesheet" type="text/css" />
<link href="/themes/tablas.css" rel="stylesheet" type="text/css" />
<link href="/themes/sige.css" rel="stylesheet" type="text/css" />
<link href="/themes/estilos.css" rel="stylesheet" type="text/css" />
<link href="/themes/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/south-street/jquery-ui.css" rel="stylesheet" />
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" id="maqueta">
  <tr>
    <td class="top_left"></td>
    <td class="top"></td>
    <td class="top_right"></td>
  </tr>
  <tr>
    <td class="left"></td>
    <td class="center">
     <div id="main">
        {% include 'sections/admin/branding.html.twig' %}
        {% include 'sections/admin/menu.html.twig' %}
        <div id="ika">
            {% block submenu %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
     </div>
    </td>
    <td class="right"></td>
  </tr>
  <tr>
    <td class="bottom_left"></td>
    <td class="bottom"></td>
    <td class="bottom_right"></td>
  </tr>
</table>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.dropdown a').dropdown();
});
</script>
{% block jquery %}{% endblock %}
</body>
</html>
