<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor='#AAAAAA'>
        <table width="100%" cellpadding="10" cellspacing="0"  bgcolor='#AAAAAA'>
            <tr>
                <td valign="top" align="center">
                <table width="550" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="background-color: #fff; color: #838C95; text-align: center; padding: 10px 0; border-bottom: 4px solid #8CC42D">
                            <a href="{{ serverUrl() }}">
                            	<?php //TODO: change for the correct host programatically ?>
                                <img src="{{ serverUrl() }}/imgns/logo.png" border="0" title="Ika Bienes Ráices" alt="Ika Bienes Ráices"  />
                             </a>
                        </td>
                    </tr>
                </table>
                <table width="550" cellpadding="20" cellspacing="0" bgcolor="#fff">
                    <tr>
                        <td bgcolor="#fff" valign="top" style="font-size: 12px; color: #000; line-height: 150%; font-family: 'Trebuchet MS', 'sans serif'; background-position: bottom right; background-repeat: no-repeat; background-color: #fff; background-position: bottom right; background-repeat: no-repeat; background-color: #fff; padding-bottom: 100px">
							{% block content %}{% endblock %}
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #8CC42D;" valign="top">
                            <p style="font-size: 10px; color: #000000; line-height: 100%; font-family: verdana;">
                                *Haz recibido este correo porque tu o alguien en tu nombre lo solicitó proporcionando tu dirección de correo electrónico*
                                <br />
                                Si deseas dejar de recibir correos de IKA Bienes Raíces escríbenos a:<br />
                                *contacto@ikabienesraices.com*
                                <br /><br />
                                &copy; IKA Bienes Raíces
                                <br />
                            </p>
                        </td>
                    </tr>
                </table>
                </td>
            </tr>
        </table>
    </body>
</html>
