{% extends 'layouts/mail.html.twig' %}

{% block content %}
<h1 style="font-size: 20px; font-weight: bold; color: #8CC42D; font-family: Arial, 'sans serif'; line-height: 110%;">
    Cuenta nueva
</h1>
<p style="font-size: 1em; font-weight: normal; color: #000; font-style: italic; font-family: Arial, 'sans serif';">
    Estimado {{ params.username }},
</p>
<p>
    Hemos creado una cuenta para ti:
</p>
<dl>
    <dt>Nombre de usuario:</dt>
    <dd>{{ params.username }}</dd>
    <dt>Contraseña:</dt>
    <dd>{{ params.password }}</dd>
</dl>
<p style="font-size: 1em; font-weight: normal; color: #8CC42D; font-style: italic; font-family: Arial, 'sans serif';">
    IKA Bienes Raíces
</p>
{% endblock %}
