<div id="listPayment">
    <h1 class="page-header">Pagos</h1>

    <table class="table table-striped table-bordered table-hover">
        {% for payment in items %}
            {% if loop.first %}
                <thead>
                    <tr>
                        <th>Cuota</th>
                        <th>Cuota autorizada</th>
                        <th>Cantidad pagada</th>
                        <th>Fecha de pago</th>
                        {% if role != 'committee' %}
                            <th>Recargos</th>
	                        <th></th>
	                        <th></th>
                        {% endif %}
                        <th>Comentario</th>
                    </tr>
                </thead>
            {% endif %}
        {% endfor %}
            <tbody>
                {% for payment in items %}
                <tr>
                    <td>{{ payment.concept }}</td>
                    <td>${{ payment.amount }}</td>
                    <td>${{ payment.amount_paid }}</td>
                    <td>{{ payment.date }}</td>
                    {% if role != 'committee' %}
	                    <td>
	                        <a href="{{ url('surcharge_list', {"paymentId": payment.payment_id}) }}">
	                            Recargos
	                        </a>
	                    </td>
	                    <td>
	                        <a href="{{ url('payment_edit', {"paymentId": payment.payment_id}) }}">
	                            Editar
	                        </a>
	                    </td>
	                    <td>
	                        <a href="{{ url('payment_remove', {"paymentId": payment.payment_id}) }}">
	                            Eliminar
	                        </a>
	                    </td>
                    {% endif %}
                    <td>{{ payment.comment }}</td>
                </tr>
        {% else %}
                <tr class="info">
                    {% if role == 'committee' %}
                        {% set span = 4 %}
                    {% else %}
                        {% set span = 7 %}
                    {% endif %}
                    <td colspan="{{ span }}">
                        <p class="lead text-center">Aún no existen pagos</p>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
    </table>
</div>
