{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Editar pago</h1>

<ul class="breadcrumb">
    <li><a href="{{ url('payment_list') }}">Pagos</a> <span class="divider">/</span></li>
    <li class="active">Editar pago</li>
</ul>

{% include 'sections/admin/form.html.twig' %}
{% endblock %}

{% block jquery %}
<script type="text/javascript" src="/scripts/jquery/widget/jquery.ui.ajaxerror.js"></script>
<script type="text/javascript" src="/scripts/jquery/widget/jquery.ui.ajaxloader-1.0.js"></script>
<script	type="text/javascript" src="/scripts/jquery/plugins/jquery.ui.payment.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	var options = {};

	$('form').payment(options);
	$(".ui-date").datepicker({ dateFormat: "yy-mm-dd" });
});
</script>
<script type="text/javascript" src="/scripts/jquery.send.js"></script>
{% endblock %}
