{% extends 'layouts/admin.html.twig' %}

{% block content %}
    {% include	'sections/admin/form.html.twig' %}

    <div id="listPayment">
    </div>
{% endblock %}

{% block jquery %}
<script type="text/javascript" src="/scripts/jquery/widget/jquery.ui.ajaxerror.js"></script>
<script type="text/javascript" src="/scripts/jquery/widget/jquery.ui.ajaxloader-1.0.js"></script>
<script type="text/javascript" src="/scripts/jquery/plugins/jquery.ui.listpayments.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	var options = {};
	$('form').payment(options);
});
</script>
{% endblock %}
