{% extends 'layouts/admin.html.twig' %}


{% block content %}
<div id="propiedad">
    <a class="ajax accion" target="_self" href="{{ url('payment_generate') }}">Aceptar y generar cobros</a>
</div>
{% endblock %}
