<select name="property_id" id="property">
    <option value="" label="-- Seleccionar --">Selecciona una propiedad</option>
    {% for property in properties %}
        <option value="{{ property.property_id }}">{{ property.street }} {{ property.number }}</option>
    {% endfor %}
</select>

<select name="fee_id" id="fee">
    <option value="" label="-- Seleccionar --">Selecciona una cuota</option>
    {% for fee in fees %}
        <option value="{{ fee.fee_id }}">{{ fee.concept }} ${{ fee.amount|number_format(2, '.', ',') }} ({{ fee.description }})</option>
    {% endfor %}
</select>
