{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Eliminar pago</h1>

<form method="post" action="{{ url('payment_delete', {"paymentId": entity.payment_id}) }}">
    <ul class="entity">
        <li class="campo">
            <span class="label">Cantidad pagada: </span>
            <span>${{ entity.amount_paid }}</span>
        </li>
        <li class="campo">
            <span class="label">Fecha: </span>
            <span>{{ entity.date }}</span>
        </li>
    </ul>
    <div class="form-actions">
        <button value="Eliminar" type="submit" class="btn btn-danger">Eliminar</button>
    </div>
</form>
{% endblock %}
