{% extends 'layouts/admin.html.twig' %}

{% block content %}
    <h1 class="page-header">Agregar concepto</h1>

    <ul class="breadcrumb">
        <li>
            <a href="{{ url('concept_list') }}">Catálogo de cuentas</a>
            <span class="divider">/</span>
        </li>
        <li class="active">Agregar concepto</li>
    </ul>

    {% include 'sections/admin/form.html.twig' %}
{% endblock %}

{% block jquery %}
<script type="text/javascript" src="/scripts/jquery.send.js"></script>
{% endblock %}
