{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Editar concepto</h1>

<ol class="breadcrumb">
    <li><a href="{{ url('concept_list') }}">Conceptos</a> <span class="divider">/</span></li>
    <li class="active">Editar concepto</li>
</ol>
{% include 'sections/admin/form.html.twig' %}
{% endblock %}

{% block jquery %}
<script type="text/javascript" src="/scripts/jquery.send.js"></script>
{% endblock %}
