{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Catálogo de cuentas</h1>

<p><a class="btn btn-success" href="{{ url('concept_create') }}">Agregar</a></p>

<table class="table table-striped table-bordered table-hover">
    {% for concept in paginator %}
        {% if loop.first %}
            <thead>
                <tr>
                    <th>Clave</th>
                    <th>Concepto</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        {% endif %}
    {% endfor %}
        <tbody>
        {% for concept in paginator %}
            <tr>
                <td>{{ concept.code }}</td>
                {% if concept.type == 'I'%}
                    <td>{{ concept.concept }} (Ingreso)</td>
                {% else %}
                    <td>{{ concept.concept }} (Gasto)</td>
                {% endif %}
                <td>
                    <a href="{{ url('concept_edit', {"zoneId": concept.zone_id,"conceptId": concept.concept_id}) }}">
                        Editar
                    </a>
                </td>
                <td>
                    <a href="{{ url('concept_remove', {"zoneId": concept.zone_id,"conceptId": concept.concept_id}) }}">
                        Eliminar
                    </a>
                </td>
            </tr>
        {% else %}
            <tr class="info">
                <td colspan="4">
                    <p class="lead text-center">Aún no existen conceptos</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <td colspan="4">
                <div class="pagination text-center">
                    {{ pagerfanta(paginator, {'routeName': 'concept_list', routeParams:{'zoneId':params.zoneId}})|raw }}
                </div>
            </td>
        </tfoot>
</table>
{% endblock %}
