{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Eliminar concepto</h1>

<ul class="breadcrumb">
    <li><a href="{{ url('concept_list') }}">Conceptos</a> <span class="divider">/</span></li>
    <li class="active">Eliminar concepto</li>
</ul>

<form method="post" action="{{ url('concept_delete', {"zoneId": entity.zone_id, "conceptId": entity.concept_id}) }}">
    <ul class="entity">
        <li>
            <span class="label">Clave: </span>
            <span>{{ entity.code }}</span>
        </li>
        <li>
            <span class="label">Concepto: </span>
            <span>{{ entity.concept }}</span>
        </li>
        <li>
            <span class="label">Tipo: </span>
            <span>
            {% if entity.type == 'O' %}
                Gasto
            {% else %}
                Ingreso
            {% endif %}
            </span>
        </li>
    </ul>
    <div class="form-actions">
        <button value="Eliminar" type="submit" class="btn btn-danger">Eliminar</button>
    </div>
</form>

{% endblock %}
