{% if form is not null %}
    {{ form().openTag(form)|raw }}
        <dl>
        {% for element in form %}
            <dt>
                {% if element.label %}
                    {{ formLabel(element) }}
                {% endif %}
            </dt>
            {% if element.getAttribute('type') == 'submit' %}
                <dd class="submit">
            {% else %}
                <dd>
            {% endif %}
                {{ formElement(element) }}
                {{ formElementErrors(element) }}
            </dd>
        {% endfor %}
        </dl>
    {{ form().closeTag(form)|raw }}
{% endif %}
