{% extends 'layouts/default.html.twig' %}

{% block content %}

<table width="875" height="332" border="0" cellpadding="0"
    cellspacing="0">
    <tr>
        <td width="643" height="33" align="left" valign="top"><img
            src="imgns/titulo01.png" width="476" height="33" />
        </td>
        <td width="229" rowspan="2" align="left" valign="top"><table
                width="225" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="204" height="318" align="right" valign="top"><table
                            width="20" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="20" height="50">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="right" valign="top"><img src="/imgns/derecha03.png"
                                    width="180" height="90" />
                                </td>
                            </tr>
                            <tr>
                                <td align="right"><img src="/imgns/derecha04.png" width="179"
                                    height="113" />
                                </td>
                            </tr>
                            <tr>
                                <td align="right">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="right">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                    <td width="21" align="left" valign="top"><table width="20"
                            border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="20" height="50"><img src="/imgns/derecha01.png"
                                    width="21" height="43" />
                                </td>
                            </tr>
                            <tr>
                                <td><img src="/imgns/derecha02.png" width="21" height="260" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top"><table width="627" height="260"
                border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="24"><img src="/imgns/boton-espa.png" alt="" width="24"
                        height="19" />
                    </td>
                    <td width="603" align="left" valign="top" class="testo01"><p>
                            <strong>IKÁ Bienes Raíces </strong><br /> Esta integrado por más
                            de 12 personas, que son parte importante de nuestro desarrollo;
                            por ello estamos convencidos que la capacitación y actualización
                            constante de nuestros sistemas y procesos nos permiten garantizar
                            la calidad en los servicios que ofrecemos a nuestros clientes.
                        </p>
                        <p>Asimismo contamos con el “know how” y apoyo técnico de Cortina
                            Bienes Raíces empresa con 40 años en la administración de
                            condominios residenciales, centros comerciales y médicos, y
                            edificios corporativos.</p>
                        <p>Entre los inmuebles que administra están el World Trade Center
                            Ciudad de México, Centro Médico Palmas, Centro Comercial Plaza
                            Cuernavaca, Edificio Corporativo Torre Arco Norte, Oficinas
                            planta Tlalpan de Glaxo Smith Kline, etc.</p>
                    </td>
                </tr>
                <tr>
                    <td height="46">&nbsp;</td>
                    <td align="left" valign="top" class="testo01">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{% endblock %}
