{% extends 'layouts/default.html.twig' %}

{% block content %}

<div id="contacto">
    <h1>CONTACTO</h1>
    <table width="875" height="305" border="0" cellpadding="0"
        cellspacing="0">
        <tr>
            <td width="621" height="2" align="left" valign="top"></td>
            <td width="254" rowspan="2" align="left" valign="top"><table
                    width="225" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="204" height="318" align="left" valign="top"><table
                                width="231" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="218" height="50">&nbsp;</td>
                                    <td width="13">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="right" valign="top">&nbsp;</td>
                                    <td align="right" valign="top">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="right"><span class="testo01"><strong>Calle Santander
                                                4918-1 </strong> </span></td>
                                    <td align="right">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="right"><span class="testo01"><strong>Col. Las Palmas
                                        </strong> </span></td>
                                    <td align="right">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="right"><span class="testo01"><strong>CP 72550
                                                Puebla, Pue. </strong> </span></td>
                                    <td align="right">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="right"><span class="testo01"><strong></strong> </span>:</td>
                                    <td align="right">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="right"><span class="testo01"><strong>Nextel</strong>
                                    </span></td>
                                    <td align="right">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="right">6514255   ID 72*1005081*2</td>
                                    <td align="right">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                </tr>
                            </table></td>
                        <td width="21" align="left" valign="top"><table width="20"
                                height="336" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="20" height="50"><img src="/imgns/derecha01.png"
                                        width="21" height="43" /></td>
                                </tr>
                                <tr>
                                    <td><img src="/imgns/derecha02.png" width="21" height="270" /></td>
                                </tr>
                            </table></td>
                    </tr>
                </table></td>
        </tr>
        <tr>
            <td align="left" valign="top"><table width="620" height="94"
                    border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="24" height="48"><img src="/imgns/boton-espa.png" alt=""
                            width="24" height="19" /></td>
                        <td width="596" align="left" valign="top" class="testo01"><p>
                                <strong>IKÁ Bienes Raíces </strong><br /> Se interesa por
                                cotizar sus presupuestos y resolver sus dudas a la brevedad, es
                                por eso que es de nuestro interés que nos haga llegar sus
                                comentarios.
                            </p></td>
                    </tr>
                    <tr>
                        <td height="46">&nbsp;</td>
                        <td align="left" valign="top" class="testo01">
                            {% set originalForm = form %}
                            {% set form = contactForm %}
                            {% include 'sections/common/form.html.twig' %}
                            {% set form = originalForm %}
                        </td>
                    </tr>
                </table></td>
        </tr>
    </table>
</div>

{% endblock %}
