{% extends 'layouts/default.html.twig' %}

{% block content %}
<div id="anuncios">
    <table>
        <tr>
            <td><img src="/imgns/anuncios/ika.jpg"></td>
            <td>
                <a href="{{ url('sell_item', {'slug': 'residencial-kao'}) }}">
                    <img src="/imgns/anuncios/casa1.png">
                </a>
            </td>
            <td>
                <a href="{{ url('sell_item', {'slug': 'quinta-cortes'}) }}">
                    <img src="/imgns/anuncios/casa2.png">
                </a>
            </td>
        </tr>
    </table>
</div>

<table border=0 cellspacing=0 cellpadding=0>
  <tr>
    <td><table border=0 cellspacing=0 cellpadding=0 width=627>
        <tr>
          <td width=24><p>&nbsp;</p></td>
          <td valign=top bgcolor="white"><h1><strong>IK&Aacute; BIENES&nbsp; RA&Iacute;CES, S.C.</strong></h1>
            <p>
                Somos una empresa  joven, &eacute;tica y profesional enfocada a la
                administraci&oacute;n, arrendamiento y  construcci&oacute;n de bienes inmuebles,&nbsp;
                formada  por personal multidisciplinario con experiencia probada en distintas
                &aacute;reas de  la construcci&oacute;n, administraci&oacute;n, asesor&iacute;a
                legal y desarrollo de proyectos  inmobiliarios e industriales.
            </p>
            <p> <strong>Administraci&oacute;n&nbsp;&nbsp; </strong></p>
            <ul>
              <li>De  fraccionamientos de alta plusval&iacute;a.</li>
              <li>Mantenimiento  preventivo y correctivo inmediato. </li>
              <li>Informaci&oacute;n  actualizada a trav&eacute;s de nuestro portal en internet. </li>
              <li>Acceso a  nuestra base de datos en l&iacute;nea. </li>
              <li>Precios  competitivos de productos. </li>
              <li>Auditor&iacute;as  internas y externas. </li>
              <li>
                Know How  validado y soportado por Cortina Bienes Ra&iacute;ces S.C., empresa
                l&iacute;der con m&aacute;s de  cincuenta a&ntilde;os de experiencia en el
                &aacute;rea&nbsp;  de administraci&oacute;n de bienes inmuebles, administrando entre
                otros: World  Trade Center Ciudad de M&eacute;xico, oficinas corporativas de Glaxo
                Smith Kline,  Centro Comercial Torres Lindavista , Plaza Cuernavaca, etc.
              </li>
              <li>Personal  biling&uuml;e.<strong> </strong></li>
            </ul>
            <p><strong>Asesor&iacute;a Integral Inmobiliaria </strong></p>
            <ul>
              <li>Compra -  venta y arrendamiento de bienes inmuebles. </li>
              <li>Contratos  de arrendamiento. </li>
              <li>Elaboraci&oacute;n  de reglamento de condominios. </li>
              <li>Constituci&oacute;n  de r&eacute;gimen de propiedad y condominio.<strong> </strong></li>
            </ul>
            <p><strong>Construcci&oacute;n</strong></p>
            <ul>
              <li>Mantenimiento</li>
              <li>Ampliaci&oacute;n</li>
              <li>Remodelaci&oacute;n  y </li>
              <li>Dise&ntilde;o de  inmuebles.</li>
            </ul></td>
        </tr>
    </table></td>
    <td width=229 rowspan=2 valign=top><table border=0 cellspacing=0 cellpadding=0 width=225>
        <tr>
          <td width=204 valign=top><div align=right>
              <table border=0 cellspacing=0 cellpadding=0 width=20>
                <tr>
                  <td width=20>&nbsp;</td>
                </tr>
                <tr>
                  <td valign=top><p align=right style='text-align:right'><img
      width=180 height=90 id="_x0000_i1034" src="/imgns/derecha03.png"></p></td>
                </tr>
                <tr>
                  <td><p align=right style='text-align:right'><img
      width=179 height=113 id="_x0000_i1033" src="/imgns/derecha04.png"></p></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </table>
            </div></td>
          <td width=21 valign=top><table border=0 cellspacing=0 cellpadding=0 width=20>
              <tr>
                <td width=20><p><img width=21 height=43 id="_x0000_i1032"
      src="/imgns/derecha01.png"></p></td>
              </tr>
              <tr>
                <td><p><img width=21 height=260 id="_x0000_i1031"
      src="/imgns/derecha02.png"></p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td valign=top><table border=0 cellspacing=0 cellpadding=0 width=629 height=66>
        <tr>
          <td width=25><p>&nbsp;</p></td>
          <td width=583 valign=top><table border=0 cellspacing=0 cellpadding=0 height=55>
              <tr>
                <td width=192><p><span style='" HYPERLINK  "'><span
      style='color:blue;'><img width=180 height=139 id="_x0000_i1029" src="/imgns/boton01-1.png"></span></span></p></td>
                <td width=23><p><img width=25 height=19
      id="_x0000_i1028" src="imgns/boton-espa.png"></p></td>
                <td width=177><p><span style='" HYPERLINK  "'><span
      style='color:blue;'><img width=177 height=140 id="_x0000_i1027" src="/imgns/boton02-1.png"></span></span></p></td>
                <td width=29><p><img width=25 height=19
      id="_x0000_i1026" src="imgns/boton-espa.png"></p></td>
                <td width=141><p><span style='" HYPERLINK  "'><span
      style='color:blue;'><img width=176 height=138 id="_x0000_i1025" src="/imgns/boton03-1.png"></span></span></p></td>
              </tr>
          </table></td>
          <td width=21 valign=top>&nbsp;</td>
        </tr>
      </table></td>
  </tr>
</table>
</div>
{% endblock %}
