{% extends 'layouts/default.html.twig' %}

{% block content %}
    <h1>Propiedades en venta</h1>

    <a href="{{ url('sell_item', {'slug': 'residencial-kao'}) }}">
        <img src="/imgns/anuncios/casa1.png">
    </a>
    <br>
    <hr>
    <br>
    <a href="{{ url('sell_item', {'slug': 'quinta-cortes'}) }}">
        <img src="/imgns/anuncios/casa2.png">
    </a>
    <br>
    <hr>
    <br>
{% endblock %}
