{% extends 'layouts/default.html.twig' %}

{% block content %}

<div id="send-email">
    <h1>Gracias</h1>
    <p>Su correo se ha envíado</p>
    <p class="campo">
        <span class="label">De: </span>
        <span class="value">{{ values.email }}</span>
    </p>
    <p class="campo">
        <span class="label">Mensaje: </span>
        <span class="value">{{ values.comment }}</span>
    </p>
</div>

{% endblock %}
