{% extends 'layouts/default.html.twig' %}

{% block content %}

<table border=0 cellspacing=0 cellpadding=0 width=875>
    <tr>
        <td width=643><table border=0 cellspacing=0 cellpadding=0 width=627>
                <tr>
                    <td width=24><p>
                            <img width=24 height=19 id="_x0000_i1035"
                                src="/imgns/boton-espa.png">
                        </p></td>
                    <td width=603 valign=top bgcolor="white">
                        <p>
                            Somos una empresa joven, ética y profesional enfocada a la administración,
                            arrendamiento y construcción de bienes inmuebles,  formada por personal
                            multidisciplinario con experiencia probada en distintas áreas de
                            la administración, asesoría legal, construcción y desarrollo de
                            proyectos inmobiliarios e industriales.
                         </p>
                     </td>
                </tr>
            </table></td>
        <td width=229 rowspan=2 valign=top><table border=0 cellspacing=0
                cellpadding=0 width=225>
                <tr>
                    <td width=204 valign=top><div align=right>
                            <table border=0 cellspacing=0 cellpadding=0 width=20>
                                <tr>
                                    <td width=20>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td valign=top><p align=right style='text-align: right'>
                                            <img width=180 height=90 id="_x0000_i1034"
                                                src="/imgns/derecha03.png">
                                        </p></td>
                                </tr>
                                <tr>
                                    <td><p align=right style='text-align: right'>
                                            <img width=179 height=113 id="_x0000_i1033"
                                                src="/imgns/derecha04.png">
                                        </p></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </div></td>
                    <td width=21 valign=top><table border=0 cellspacing=0 cellpadding=0
                            width=20>
                            <tr>
                                <td width=20><p>
                                        <img width=21 height=43 id="_x0000_i1032"
                                            src="/imgns/derecha01.png">
                                    </p></td>
                            </tr>
                            <tr>
                                <td><p>
                                        <img width=21 height=260 id="_x0000_i1031"
                                            src="/imgns/derecha02.png">
                                    </p></td>
                            </tr>
                        </table></td>
                </tr>
            </table></td>
    </tr>
    <tr>
        <td valign=top><table border=0 cellspacing=0 cellpadding=0 width=629
                height=66>
                <tr>
                    <td width=25><p>
                            <img width=25 height=19 id="_x0000_i1030"
                                src="/imgns/boton-espa.png">
                        </p></td>
                    <td width=583 valign=top><table border=0 cellspacing=0
                            cellpadding=0 width=562 height=55>
                            <tr>
                                <td width=192><p>
                                        <span style=''><span style='color: blue;'><img width=180
                                                height=139 id="_x0000_i1029" src="/imgns/boton01-1.png"> </span>
                                        </span>
                                    </p></td>
                                <td width=23><p>
                                        <img width=25 height=19 id="_x0000_i1028"
                                            src="/imgns/boton-espa.png">
                                    </p></td>
                                <td width=177><p>
                                        <span style=''><span style='color: blue;'><img width=177
                                                height=140 id="_x0000_i1027" src="/imgns/boton02-1.png"> </span>
                                        </span>
                                    </p></td>
                                <td width=29><p>
                                        <img width=25 height=19 id="_x0000_i1026"
                                            src="/imgns/boton-espa.png">
                                    </p></td>
                                <td width=141><p>
                                        <span style=''><span style='color: blue;'><img width=176
                                                height=138 id="_x0000_i1025" src="/imgns/boton03-1.png"> </span>
                                        </span>
                                    </p></td>
                            </tr>
                        </table></td>
                    <td width=21 valign=top>&nbsp;</td>
                </tr>
            </table></td>
    </tr>
</table>
{% endblock %}
