<li class="dropdown">
    <a href="#" class="dropdown-toggle"
       data-toggle="dropdown"> Condóminos <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a data-target="{{ url('client_list') }}" href="{{ url('client_list') }}">Todos los condóminos</a></li>
        <li class="dropdown-submenu">
            <a href="#">Pagos</a>
            <ul class="dropdown-menu">
                <li><a data-target="{{ url('payment_create') }}" href="{{ url('payment_create') }}">Realizar Pagos</a></li>
                <li><a data-target="{{ url('payment_list') }}" href="{{ url('payment_list') }}" >Todos los Pagos</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="#">Reporte</a>
            <ul class="dropdown-menu">
                <li><a data-target="{{ url('report_customize-client') }}" href="{{ url('report_customize-client') }}">General</a></li>
                <li><a data-target="{{ url('report_customize-client-general') }}" href="{{ url('report_customize-client-general') }}">Mensual</a></li>
            </ul>
        </li>
        <li><a data-target="{{ url('account_balance_form') }}" href="{{ url('account_balance_form') }}">Estado de cuenta</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle"
       data-toggle="dropdown">Fraccionamientos<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url('zone_list') }}" data-target="{{ url('zone_list') }}">Fraccionamientos</a></li>
        <li class="dropdown-submenu">
            <a href="#">Pagos</a>
            <ul class="dropdown-menu">
                <li><a data-target="{{ url('zone-payment_create') }}" href="{{ url('zone-payment_create') }}">Realizar Pagos</a></li>
                <li><a data-target="{{ url('zone-payment_list') }}" href="{{ url('zone-payment_list') }}" >Todos los Pagos</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="#">Gastos</a>
            <ul class="dropdown-menu">
                <li><a data-target="{{ url('zone-expenses_create') }}" href="{{ url('zone-expenses_create') }}">Agregar Gasto</a></li>
                <li><a data-target="{{ url('zone-expenses_personalize') }}" href="{{ url('zone-expenses_list') }}" >Todos los Gastos</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="#">Reportes</a>
            <ul class="dropdown-menu">
                <li><a data-target="{{ url('report_customize-zone') }}" href="{{ url('report_customize-zone') }}">General</a></li>
                <li><a data-target="{{ url('report_customize-zone-general') }}" href="{{ url('report_customize-zone-general') }}">Mensual</a></li>
                <li><a data-target="{{ url('reports.view_annual_income_form') }}" href="{{ url('reports.view_annual_income_form') }}">Ingresos Anual</a></li>
                <li><a data-target="{{ url('reports.view_annual_expenses_form') }}" href="{{ url('reports.view_annual_expenses_form') }}">Egresos Anual</a></li>
            </ul>
        </li>
        <li><a data-target="{{ url('zone-account_customize') }}" href="{{ url('zone-account_customize') }}" >Estado de cuenta</a></li>
    </ul>
</li>
