<li class="dropdown">
    <a href="#" class="dropdown-toggle"
       data-toggle="dropdown"> Pago de cuotas <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a data-target="{{ url('payment_list') }}" href="{{ url('payment_list') }}" >Todos los Pagos</a>
        </li>
    </ul>
</li>
<li><a href="{{ url('account_balance_form') }}">Estado de cuenta</a></li>
