<table height="112" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td height="112" valign="top">
            <table width="920" border="0" cellspacing="0">
                <tr>
                    <td bgcolor="#FFFFFF"><img src="/imgns/logo.png" width="240" height="110" /></td>
                    <td align="center" valign="middle" bgcolor="#FFFFFF" width="250">
                        <a href="http://www.facebook.com/pages/Ik%C3%A1-Administraci%C3%B3n-de-Fraccionamientos/146642788731673" target="_blank">
                            <img src="/imgns/facebook_logo.jpg">
                        </a>
                        <br />
                        <a href="http://www.angelopolisadomicilio.com/_ikabienesraices">
                            <img src="/imgns/logo_250_white.png"/>
                        </a>
                    </td>
                    <td width="350">
                        {# Check if user is logged in, to know wether or not to display the login form #}
                        {% include 'sections/common/form.html.twig' %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
