<table id="secciones">
  <tr>
    <td><a href="{{ url('index_index') }}">INICIO</a></td>
    <td><a href="{{ url('index_about') }}">NOSOTROS</a></td>
    <td><a href="{{ url('index_services') }}">SERVICIOS</a></td>
    <td><a href="{{ url('index_sales') }}">VENTA</a></td>
    <td><a href="{{ url('index_contact') }}">CONTACTO</a></td>
  </tr>
</table>
