{% extends 'layouts/admin.html.twig' %}
{% set result = 0 %}
{% set resultAmount = 0  %}
{% set resultAmountPaid = 0  %}

{% block content %}
<h1 class="page-header">Ingresos por Condóminos <small> {{ name }} </small></h1>
<p>
    <a class="btn btn-success" href="{{ url('generate_report', {'report':'condominos', 'startDate':date.start_date, 'stopDate':date.stop_date }) }}">
        Descargar Excel
    </a>
</p>
<table class="table table-striped table-bordered table-hover">
   {% for client in items %}
        {% if loop.first %}
            <thead>
                <tr>
                    <th>Condómino</th>
                    <th>Cuotas generadas</th>
                    <th>Cobros generados</th>
                    <th>Saldo Final</th>
                </tr>
            </thead>
        {% endif %}
        <tbody>
            <tr>
                <td>{{ client.first_name}} {{ client.maternal_surname}} {{ client.paternal_surnmae}}</td>
                <td>${{ client.resultAmount|number_format(2, '.', ',') }}</td>
                <td>${{ client.resultAmountPaid|number_format(2, '.', ',') }}</td>
                <td>${{ (client.resultAmount - client.resultAmountPaid)|number_format(2, '.', ',') }}</td>
                {% set result = result + (client.resultAmount - client.resultAmountPaid) %}
                {% set resultAmount = resultAmount + client.resultAmount %}
                {% set resultAmountPaid = resultAmountPaid + client.resultAmountPaid %}
            </tr>
        </tbody>
    {% else %}
        <tbody>
            <tr class="info">
                <td colspan="4"><p class="lead text-center">Aún no existen pagos</p></td>
            </tr>
        </tbody>
    {% endfor %}
        <tr>
            <td colspan="1"><p class="text-center lead">Total</p></td>
            <td><span class="lead">${{ resultAmount|number_format(2, '.', ',') }}</span></td>
            <td><span class="lead">${{ resultAmountPaid|number_format(2, '.', ',') }}</span></td>
            <td><span class="lead">${{ result|number_format(2, '.', ',') }}</span></td>
        </tr>
</table>
{% endblock %}
