{% extends 'layouts/admin.html.twig' %}
{% set result = 0 %}
{% set resultAmount = 0  %}
{% set resultAmountPaid = 0  %}

{% block content %}
<h1 class="page-header">Ingreso Mensual por Condóminos<small> {{ name }} </small></h1>
<p>
    <a class="btn btn-success" href="{{ url('generate_report_month', {'report':'condominos', 'startDate':date.start_date, 'stopDate':date.stop_date }) }}">
        Descargar Excel
    </a>
</p>
<table class="table table-striped table-bordered table-hover">
   {% for client in items %}
        {% if loop.first %}
            <thead>
                <tr>
                    <th>Mes</th>
                    <th>Cuotas generadas</th>
                    <th>Cobros generados</th>
                    <th>Saldo Final</th>
                </tr>
            </thead>
        {% endif %}
        <tbody>
            <tr>
                <td>{{ client.date|localizeddate('long', 'none', 'es', 'America/Mexico_City', 'MMMM')|title }}</td>
                <td>${{ client.generated_fees|number_format(2, '.', ',') }}</td>
                <td>${{ client.generated_payments|number_format(2, '.', ',') }}</td>
                <td>${{ (client.generated_fees - client.generated_payments)|number_format(2, '.', ',') }}</td>
                {% set result = result + (client.generated_fees - client.generated_payments) %}
                {% set generated_fees = generated_fees + client.generated_fees %}
                {% set generated_payments = generated_payments + client.generated_payments %}
            </tr>
        </tbody>
    {% else %}
        <tbody>
            <tr class="info">
                <td colspan="4"><p class="lead text-center">Aún no existen pagos</p></td>
            </tr>
        </tbody>
    {% endfor %}
        <tr>
            <td colspan="1"><p class="text-center lead">Total</p></td>
            <td><span class="lead">${{ generated_fees|number_format(2, '.', ',') }}</span></td>
            <td><span class="lead">${{ generated_payments|number_format(2, '.', ',') }}</span></td>
            <td><span class="lead">${{ result|number_format(2, '.', ',') }}</span></td>
        </tr>
</table>
{% endblock %}
