{% extends 'layouts/admin.html.twig' %}

{% block content %}
    <h1 class="page-header">Reporte de Ingresos Condóminos Mensual</h1>

    {% include 'sections/admin/form.html.twig' %}
{% endblock %}

{% block jquery %}
<script>
    $(function() {
        $(".ui-date").datepicker({ dateFormat: "yy-mm-dd" });
    });
</script>
{% endblock %}
