{% extends 'layouts/admin.html.twig' %}

{% block content %}
    <style>
        td, th {font-size: 0.85em !important}
    </style>
    <h1 class="page-header">Reporte Anual de Egresos <small>{{ statement.subdivisionName() }}</small></h1>
    <table class="table table-striped table-bordered table-hover">
        {% for conceptExpenses in statement %}
            {% if loop.first %}
                <thead>
                <tr>
                    <th>Concepto</th>
                    <th>Enero</th>
                    <th>Febrero</th>
                    <th>Marzo</th>
                    <th>Abril</th>
                    <th>Mayo</th>
                    <th>Junio</th>
                    <th>Julio</th>
                    <th>Agosto</th>
                    <th>Septiembre</th>
                    <th>Octubre</th>
                    <th>Noviembre</th>
                    <th>Diciembre</th>
                    <th>Total</th>
                </tr>
                </thead>
            {% endif %}
            <tbody>
            <tr>
                <td>{{ conceptExpenses.concept}} <small>{{ conceptExpenses.code}}</small></td>
                <td>${{ conceptExpenses.jan|number_format(2, '.', ',') }}</td>
                <td>${{ conceptExpenses.feb|number_format(2, '.', ',') }}</td>
                <td>${{ conceptExpenses.mar|number_format(2, '.', ',') }}</td>
                <td>${{ conceptExpenses.apr|number_format(2, '.', ',') }}</td>
                <td>${{ conceptExpenses.may|number_format(2, '.', ',') }}</td>
                <td>${{ conceptExpenses.jun|number_format(2, '.', ',') }}</td>
                <td>${{ conceptExpenses.jul|number_format(2, '.', ',') }}</td>
                <td>${{ conceptExpenses.aug|number_format(2, '.', ',') }}</td>
                <td>${{ conceptExpenses.sep|number_format(2, '.', ',') }}</td>
                <td>${{ conceptExpenses.oct|number_format(2, '.', ',') }}</td>
                <td>${{ conceptExpenses.nov|number_format(2, '.', ',') }}</td>
                <td>${{ conceptExpenses.dec|number_format(2, '.', ',') }}</td>
                <td>${{ statement.conceptTotal(conceptExpenses)|number_format(2, '.', ',') }}</td>
            </tr>
            </tbody>
        {% else %}
            <tbody>
            <tr class="info">
                <td colspan="14"><p class="lead text-center">Aún no existen gastos</p></td>
            </tr>
            </tbody>
        {% endfor %}
        <tr>
            <td><strong>Total</strong></td>
            <td>${{ statement.monthTotal('jan')|number_format(2, '.', ',') }}</td>
            <td>${{ statement.monthTotal('feb')|number_format(2, '.', ',') }}</td>
            <td>${{ statement.monthTotal('mar')|number_format(2, '.', ',') }}</td>
            <td>${{ statement.monthTotal('apr')|number_format(2, '.', ',') }}</td>
            <td>${{ statement.monthTotal('may')|number_format(2, '.', ',') }}</td>
            <td>${{ statement.monthTotal('jun')|number_format(2, '.', ',') }}</td>
            <td>${{ statement.monthTotal('jul')|number_format(2, '.', ',') }}</td>
            <td>${{ statement.monthTotal('aug')|number_format(2, '.', ',') }}</td>
            <td>${{ statement.monthTotal('sep')|number_format(2, '.', ',') }}</td>
            <td>${{ statement.monthTotal('oct')|number_format(2, '.', ',') }}</td>
            <td>${{ statement.monthTotal('nov')|number_format(2, '.', ',') }}</td>
            <td>${{ statement.monthTotal('dec')|number_format(2, '.', ',') }}</td>
            <td>${{ statement.total()|number_format(2, '.', ',') }}</td>
        </tr>
    </table>
{% endblock %}
