{% extends 'layouts/admin.html.twig' %}
{% set result = 0 %}
{% set resultAmount = 0  %}
{% set resultAmountPaid = 0  %}
{% set expenses = 0 %}

{% block content %}
<h1 class="page-header">Ingreso Mensual <small> {{ name }} </small> </h1>
<p>
    <a class="btn btn-success" href="{{ url('generate_report_month', {'report':'fraccionamientos', 'startDate':date.start_date, 'stopDate':date.stop_date }) }}">
        Descargar Excel
    </a>
</p>
<table class="table table-striped table-bordered table-hover">
   {% for zone in items %}
        {% if loop.first %}
            <thead>
                <tr>
                    <th>Mes</th>
                    <th>Cuotas generadas</th>
                    <th>Cobros generados</th>
                    <th>Gastos generados</th>
                    <th>Saldo Final</th>
                </tr>
            </thead>
        {% endif %}
        <tbody>
            <tr>
                <td>{{ zone.date|localizeddate('long', 'none', 'es', 'America/Mexico_City', 'MMMM')|title }}</td>
                <td>${{ zone.total_payment|number_format(2, '.', ',') }}</td>
                <td>${{ zone.received_payment_total|number_format(2, '.', ',') }}</td>
                <td>${{ zone.total_expenses|number_format(2, '.', ',') }}</td>
                {% set monthlyTotal = zone.total_payment - zone.received_payment_total - zone.total_expenses %}
                <td>${{ monthlyTotal|number_format(2, '.', ',') }}</td>
                {% set result = result + monthlyTotal %}
                {% set resultAmount = resultAmount + zone.total_payment %}
                {% set resultAmountPaid = resultAmountPaid + zone.received_payment_total %}
                {% set expenses = expenses + zone.total_expenses %}
            </tr>
        </tbody>
    {% else %}
        <tbody>
            <tr class="info">
                <td colspan="5"><p class="lead text-center">Aún no existen pagos</p></td>
            </tr>
        </tbody>
    {% endfor %}
        <tr>
            <td colspan="1"><p class="text-center lead">Total</p></td>
            <td><span class="lead">${{ resultAmount|number_format(2, '.', ',') }}</span></td>
            <td><span class="lead">${{ resultAmountPaid|number_format(2, '.', ',') }}</span></td>
            <td><span class="lead">${{ expenses|number_format(2, '.', ',') }}</span></td>
            <td><span class="lead">${{ result|number_format(2, '.', ',') }}</span></td>
        </tr>
</table>
{% endblock %}
