{% extends 'layouts/admin.html.twig' %}
{% set result = 0 %}
{% set resultAmount = 0  %}
{% set resultAmountPaid = 0  %}
{% set resultExpensesAmountPaid = 0  %}

{% block content %}
<h1 class="page-header">Ingresos <small> {{ name }} </small></h1>
<p>
    <a class="btn btn-success" href="{{ url('generate_report', {'report':'fraccionamientos', 'startDate':date.start_date, 'stopDate':date.stop_date }) }}">
        Descargar Excel
    </a>
</p>
<table class="table table-striped table-bordered table-hover">
   {% for zone in items %}
        {% if loop.first %}
            <thead>
                <tr>
                    <th>Cuotas generadas</th>
                    <th>Cobros generados</th>
                    <th>Gastos generados</th>
                    <th>Saldo Final</th>
                </tr>
            </thead>
        {% endif %}
        <tbody>
            <tr>
                <td>${{ zone.total_payment|number_format(2, '.', ',') }}</td>
                <td>${{ zone.received_payment_total|number_format(2, '.', ',') }}</td>
                <td>${{ zone.total_expenses|number_format(2, '.', ',') }}</td>
                {% set zoneTotal = zone.total_payment - zone.received_payment_total - zone.total_expenses %}
                <td>${{ zoneTotal|number_format(2, '.', ',') }}</td>
            </tr>
        </tbody>
    {% else %}
        <tbody>
            <tr class="info">
                <td colspan="5"><p class="lead text-center">Aún no existen pagos</p></td>
            </tr>
        </tbody>
    {% endfor %}
</table>
{% endblock %}
