{% extends 'layouts/admin.html.twig' %}
{% set result = 0 %}
{% set perc = 0  %}

{% block content %}
<h1 class="page-header">Estado de cuenta</h1>
    <p>
        <span class="label">Fraccionamiento: </span>
        {% if items|length > 0 %}
            <span>{{  items[0].name }}</span>
        {% endif %}
    </p>
    <h2>Montos</h2>
    <table class="table table-striped table-bordered table-hover">
        {% for payment in items %}
            {% if loop.first %}
                <thead>
                    <tr>
                        <th>Concepto</th>
                        <th>Cuota autorizada</th>
                        <th>I.V.A</th>
                        <th>Cantidad pagada</th>
                        <th>Fecha del pago</th>
                        <th>Total</th>
                    </tr>
                </thead>
            {% endif %}
            <tbody>
                <tr>
                    <td>{{ payment.concept}}</td>
                    <td>${{ payment.amount }}</td>
                    <td>
                        ${{ payment.amount*0.16|number_format(2, '.', ',') }}
                        {% set perc = payment.amount*0.16 %}
                    </td>
                    <td>${{ payment.amount_paid }}</td>
                    <td>{{ payment.date }}</td>
                    <td>
                        ${{ (payment.amount_paid - (payment.amount))|number_format(2, '.', ',')}}
                        {% set result =result + (payment.amount_paid - (payment.amount)) %}
                    </td>
                </tr>
            </tbody>
        {% else %}
            <tbody>
                <tr class="info">
                    <td colspan="7"><p class="lead text-center">Aún no existen pagos</p></td>
                </tr>
            </tbody>
        {% endfor %}
            <tr>
                <td colspan="5"><p class="text-right lead">Total</p></td>
                <td><span class="lead">{{ result|number_format(2, '.', ',') }}</span></td>
            </tr>
    </table>
{% endblock %}
