{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Agregar gasto del fraccionamiento</h1>
{% include 'sections/admin/form.html.twig' %}
{% endblock %}

{% block jquery %}
<script type="text/javascript">
$(document).ready(function() {
    $(".ui-date").datepicker({ dateFormat: "yy-mm-dd" });
});
</script>
<script type="text/javascript" src="/scripts/jquery.send.js"></script>
{% endblock %}
