{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Editar gasto</h1>

<ul class="breadcrumb">
    <li><a href="{{ url('payment_list') }}">Gastos</a> <span class="divider">/</span></li>
    <li class="active">Editar gasto</li>
</ul>

{% include 'sections/admin/form.html.twig' %}
{% endblock %}

{% block jquery %}
<script type="text/javascript">
$(document).ready(function() {
    $(".ui-date").datepicker({ dateFormat: "yy-mm-dd" });
});
</script>
<script type="text/javascript" src="/scripts/jquery.send.js"></script>
{% endblock %}
