<div id="listPayment">
    <h1 class="page-header">Gastos</h1>

    <table class="table table-striped table-bordered table-hover">
        {% for zone_expenses in items %}
            {% if loop.first %}
                <thead>
                    <tr>
                        <th>Concepto</th>
                        <th>Comentario</th>
                        <th>Cantidad</th>
                        <th>Fecha de pago</th>
                        <th>I.V.A</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            {% endif %}
        {% endfor %}
            <tbody>
                {% for zone_expenses in items %}
                <tr>
                    <td>{{ zone_expenses.concept }}</td>
                    <td>{{ zone_expenses.comment }}</td>
                    <td>${{ zone_expenses.amount_paid }}</td>
                    <td>{{ zone_expenses.date }}</td>
                    <td>${{ zone_expenses.iva }}</td>
                    <td>
                        <a href="{{ url('zone-expenses_edit', {"zoneExpensesId": zone_expenses.zone_expenses_id}) }}">
                            Editar
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('zone-expenses_remove', {"zoneExpensesId": zone_expenses.zone_expenses_id}) }}">
                            Eliminar
                        </a>
                    </td>
                </tr>
        {% else %}
                <tr class="info">
                    <td colspan="6">
                        <p class="lead text-center">Aún no existen gastos</p>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
    </table>
</div>
