{% extends 'layouts/admin.html.twig' %}

{% block content %}
    <h1 class="page-header">Agregar fraccionamiento</h1>

    <ol class="breadcrumb">
        <li><a href="{{ url('zone_list') }}">Fraccionamientos</a> <span class="divider">/</span></li>
        <li class="active">Agregar fraccionamiento</li>
    </ol>

    {% include 'sections/admin/form.html.twig' %}
{% endblock %}

{% block jquery %}
<script type="text/javascript" src="/scripts/jquery.send.js"></script>
{% endblock %}
