{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Fraccionamientos</h1>

{% if role == 'webmaster' %}
<p>
    <a class="btn btn-success" href="{{ url('zone_create') }}">Agregar</a>
</p>
{% endif %}

<table class="table table-striped table-bordered table-hover">
        {% for zone in paginator %}
            {% if loop.first %}
                <thead>
                    <tr>
                        <th>Fraccionamiento</th>
                        {% if role == 'webmaster' %}
	                        <th></th>
                        {% endif %}
                        {% if role == 'webmaster' or role == 'admin' %}
                            <th></th>
                        {% endif %}
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            {% endif %}
        {% endfor %}
        <tbody>
        {% for zone in paginator %}
            <tr>
                <td>{{ zone.name }}</td>
                {% if role == 'webmaster' %}
                <td>
                    <a href="{{ url('zone_edit', {"zoneId": zone.zone_id}) }}">
                        Editar
                    </a>
                </td>
                {% endif %}
                {% if role == 'webmaster' or role == 'admin' %}
                <td>
                    <a href="{{ url('committee_list', {"zoneId": zone.zone_id}) }}">
                        Comité de vigilancia
                    </a>
                </td>
                {% endif %}
                <td>
                    <a href="{{ url('property_list', {"zoneId": zone.zone_id}) }}">
                        Propiedades de este fraccionamiento
                    </a>
                </td>
                <td>
                    <a href="{{ url('fee_list', {"zoneId": zone.zone_id}) }}">
                        Cuotas de este fraccionamiento
                    </a>
                </td>
            </tr>
        {% else %}
            <tr class="info">
                <td colspan="6">
                    <p class="lead text-center">Aún no existen fraccionamientos</p>
                </td>
            </tr>
        {% endfor %}
    </tbody>
        <tfoot>
            <td colspan="6">
                <div class="pagination text-center">
                    {{ pagerfanta(paginator, {'routeName': 'zone_list'})|raw }}
                </div>
            </td>
        </tfoot>
</table>
{% endblock %}
