{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Eliminar fraccionamiento</h1>

<ul class="breadcrumb">
    <li><a href="{{ url('zone_list') }}">Fraccionamientos</a> <span class="divider">/</span></li>
    <li class="active">Eliminar fraccionamiento</li>
</ul>

<form method="post" action="{{ url('zone_delete', {"zoneId": entity.zone_id}) }}">
    <ul class="entity">
        <li class="campo">
            <span class="label">Fraccionamiento: </span>
            <span>{{ entity.name }}</span>
        </li>
    </ul>
    <div class="form-actions">
        <button value="Eliminar" type="submit" class="btn btn-danger">Eliminar</button>
    </div>
</form>
{% endblock %}
