{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Comité de vigilancia <small> {{ zone.name }} </small></h1>

<ul class="breadcrumb">
    <li><a href="{{ url('zone_list') }}">Fraccionamientos</a> <span class="divider">/</span></li>
    <li class="active">Comité de vigilancia</li>
</ul>

<p>
    <a class="btn btn-success" href="{{ url('committee_create', {'zoneId':params.zoneId}) }}">
        Agregar
    </a>
</p>

<table class="table table-striped table-bordered table-hover">
    {% for committee_member in paginator %}
        {% if loop.first %}
        <thead>
            <tr>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% endif %}
        <tr>
            <td>
                {{ committee_member.first_name }}
                {{ committee_member.paternal_surname }}
                {{ committee_member.maternal_surname }}
            </td>
            <td>
               <a href="{{ url('committee_remove', {'zoneId':params.zoneId, 'user': committee_member.username}) }}">
                    Eliminar
               </a>
            </td>
        </tr>
    {% else %}
        <tbody>
        <tr class="info">
            <td colspan="2">
                <p class="lead text-center">Aún no existen miembros en el comité de vigilancia</p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <td colspan="2">
            <div class="pagination text-center">
                {{ pagerfanta(paginator, {'routeName': 'committee_list', routeParams:{'zoneId':params.zoneId}})|raw }}
            </div>
        </td>
    </tfoot>
</table>
{% endblock %}
