{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Eliminar miembro del comité</h1>

<ul class="breadcrumb">
    <li><a href="{{ url('zone_list') }}">Fraccionamientos</a> <span class="divider">/</span></li>
    <li><a href="{{ url('committee_list', {'zoneId': params.zoneId}) }}">Miembros del comité</a> <span class="divider">/</span></li>
    <li class="active">Eliminar miembro del comité</li>
</ul>

<form method="post" action="{{ url('committee_delete', {"zoneId": params.zoneId, "user": entity.username}) }}">
    <ul class="entity">
        <li class="campo">
            <span class="label">Usuario: </span>
            <span>{{ entity.first_name }} {{ entity.maternal_surname }} {{ entity.paternal_surname }}</span>
        </li>
    </ul>
    <div class="form-actions">
    <button value="Eliminar" type="submit" class="btn btn-danger">Eliminar</button>
    </div>
</form>
{% endblock %}
