{% extends 'layouts/default.html.twig' %}

{% block content %}
<div class="row">
    {% if 'production' != environment %}
        <div class="span10 offset1">
            <h1 class="page-header">Ha ocurrido un error</h1>

            <p><strong>Exception</strong></p>
            <p>{{ exception.message }}</p>

            <p><strong>Stack trace</strong></p>
            <p><pre style="overflow: auto;">{{ exception }}</pre></p>
        </div>
    {% else %}
        <div class="span6 offset3">
            <h1 class="page-header">Sitio en mantenimiento</h1>

            <div class="well">
                 <p class="lead">Por favor regresa más tarde</p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
