{% extends 'layouts/default.html.twig' %}

{% block content %}
<div class="row">
    <div class="span6 offset3">
        <h1 class="page-header">La página que busca no existe</h1>

        <div class="well">
             <p class="lead">La página {{ url }} no existe</p>
        </div>
    </div>
</div>
{% endblock %}
