@charset "utf-8";

body {
	margin:10px 0;
	padding:0;
	background-image:url(imagenes/fondo.png);
	font-family:Verdana, Geneva, sans-serif;
}

.loading{
	cursor:wait;
	background-image:url(imagenes/loading.gif);
	background-position:center;
	background-repeat:no-repeat;
	
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
	
	}
#maqueta .top_left{
	height:25px;
	width:25px;
	background-image:url(imagenes/maqueta/top_left.gif);
	}
#maqueta .top{
	height:25px;
	background-image:url(imagenes/maqueta/top.gif);
	}
#maqueta .top_right{
	height:25px;
	width:25px;
	background-image:url(imagenes/maqueta/top_right.gif);
	}
#maqueta .left{
	width:25px;
	background-image:url(imagenes/maqueta/left.gif);
	}
#maqueta .center{
	background-color:#FFF;
	}
#maqueta .right{
	width:25px;
	background-image:url(imagenes/maqueta/right.gif);
	}
#login{
	font-size:12px;
	margin-top:20px;
	}
#maqueta .bottom_left{
	height:25px;
	width:25px;
	background-image:url(imagenes/maqueta/bottom_left.gif);
	}
#maqueta .bottom{
	height:25px;
	background-image:url(imagenes/maqueta/bottom.gif);
	}
#maqueta .bottom_right{
	height:25px;
	width:25px;
	background-image:url(imagenes/maqueta/bottom_right.gif);
	}
	
#login label{
	float:left;
	clear:left;
	width:75px;
	line-height:25px;
	display:block;	
	font-weight:bold;
	text-align:right;
	}
#login input{
	border:1px solid #000;
	}
#login button{
	display:block;
	background-image:url(imagenes/usuario03.png);
	background-color:transparent;
	display:block;
	clear:both;
	border:none;
	margin:0;
	padding:0;
	width:110px;
	line-height:30px;
	color:#FFF;
	}
#menu{
	text-align:center;
	display:block;
	height:32px;
	color:#FFF;
	border-bottom:1px solid #000;
	}
#menu ul{
	margin:0;
	padding:0;
	}
#menu li{
	display:block;
	float:left;
	list-style:none;
	}
#menu a{
	text-decoration:none;
	display:block;
	line-height:25px;
	margin:1px;
	padding:1px 10px;
	background-color:#8CC52D;
	color:#FFF;
	}
#ika{
	display:block;
	clear:both;
	width:980px;
	min-height:600px;
	background-image:url(imagenes/ika_fondo.png);
	background-position:bottom right;
	background-repeat:no-repeat;
	}
.modulos{
	display:block;
	width:20%;
	float:left;
	}	
	
.modulo{
	display:block;
	width:100%;
	border:1px dotted #999;
	}	

.page-header {
    color: #8CC42D;
}

.panel{
	width:79%;
	display:block;
	float:right;
	}
a.accion{
	display:block;
	float:right;
	margin:10px 5px 3px 5px;
	padding:5px 12px;;
	border:1px dotted #000;
	font-size:12px;
	text-decoration:none;
	background-color:#DDD;
	color:#000;
	}
a.accion:hover{
	border:1px solid #000;
	text-decoration:underline;
	}
.submenu{
	display:block;
	height:30px;
	clear:both;
	}
.submenu li{
	display:block;
	float:right;
}
form.submenu {
	display:block;
	float:right;
	height:30px;
	clear:both
	}
.submenu a{
	display:block;
	float:left;
	margin:3px 10px 3px 0;
	padding:5px 12px;;
	border:1px dotted #000;
	font-size:10px;
	text-decoration:none;
	background-color:#369;
	color:#FFF;
	}
.submenu a:hover{
	border:1px solid #000;
	text-decoration:underline;
	}
#main td{
	text-align:justify;
	font-size:14px;
	}

#anuncios{
	display:block;
	width:920px;
	overflow:auto;
	height:290px;
	margin:0;
	padding:0;
	}
#secciones{
	background-image:url(imagenes/secciones.png);
	background-color:#1D86AF;
	width:920px;
	}
#secciones a{
	text-decoration:none;
	color:#FFF;
	font-weight:bold;
	display:block;
	padding:2px 10px;
	text-align:center;
	}
#contenido{
	display:block;
	width:920px;
	font-size:14px;
	}

.pagination {
    margin: 20px 0;
}
.text-center {
    text-align: center;
}
.pagination ul > li {
    display: inline;
}
.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.pagination ul > li > a, .pagination ul > li > span {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    /*float: left;*/
    line-height: 20px;
    padding: 4px 12px;
    text-decoration: none;
}

.dropdown-menu li a:hover
{
	color:#fff;
	text-decoration:none;
	background-color: #8CC52D !important;
	background-image: none !important;
}

.dropdown-menu li a:focus
{
    color:#fff !important;
    text-decoration:none;
    background-color: #8CC52D !important;
}

.offset1 {
    margin-left: 0px !important;
}

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus {
    background-color: #8CC52D !important;
    border-color: #8CC52D !important;
    color: #FFFFFF;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: #8CC52D !important;
	color: #fff !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a 
{
	background-color: #8CC52D !important;
	background-image: linear-gradient(to bottom, #8CC52D, #8CC52D) !important;
}