form {
    background-color: #EBF4FB;
    padding-top: 1.5em;
}

form.loading{
	min-width:128px;
	min-height:15px;
	
	background-position:center;
}

form h1, .form h1{
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
	}

form .loading{
	min-width:128px;
	min-height:15px;
	
	background-position:center;
	
}

.errors {
    color: #f00;
    margin: .5em 0 0 1em;
}

.entity {
    list-style-type: none;
}

form .paginacion,
.form .paginacion{
	text-align:center;
	display:block;
	border:1px solid #CCC;
	padding:3px;
	margin:4px;
	clear:both;
}
form .vpagina,
.form .vpagina{
	border:1px dotted #CCC;
	background-color:#DDD;
	height:18px;
	padding:3px 5px;
	margin:3px;	
	line-height:18px;
	text-align:center;
	}
form .vactivo,
.form .vactivo{
	background-color:#369;
	color:#FFF;
	}
form.modern label{
	display:block;
	color:#000;
	text-shadow: 1px 1px 1px rgba(200, 200, 200, 0.7);
	line-height:1.5;
	text-align:left;
	width:100%;
	clear:both;
	margin-top:10px;
	}
form.modern h1{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	margin-bottom:8px;
	padding:5px 2px;
	border-bottom:1px dotted #999;
	clear:both;
	}
form.modern input{
	font-size:24px;
	border: 1px solid #CCC;	
	moz-border-radius: 5px;
	border-radius: 5px;	
	margin: 0 5px 5px 0;
	border: 1px solid #CCC;
	padding: 8px;
	}
form.modern .acciones{
	text-align:center;
	}
form.modern button{
	background: #0693D9;
	background: -moz-linear-gradient(100% 100% 90deg, #047BB7, #01B4FE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#01B4FE), to(#047BB7));
	box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-width: 0px;
	color: white;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	font-size: 12px;
	padding: 5px 38px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3) !important;
	margin: 3px 0 0 0;
	}
	
.required {
    color: #E9322D;
}

/*Menus*/

.menu a.editar, .submenu a.editar,
.menu a.agregar, .submenu a.agregar,
.menu a.eliminar, .submenu a.eliminar,
.menu a.recargar, .submenu a.recargar{
	background-image:url(imagenes/actions/edit_add.png);
	background-repeat:no-repeat;
	background-position:15px center;
	display:block;
	padding-left:40px;
	}
.menu a.agregar, .submenu a.agregar{
	background-image:url(imagenes/actions/edit_add.png);
	}
	
.menu a.editar, .submenu a.editar{
	background-image:url(imagenes/actions/edit.png);
	}
.menu a.eliminar, .submenu a.eliminar{
	background-image:url(imagenes/actions/edit_remove.png);
	}
.menu a.recargar, .submenu a.recargar{
	background-image:url(imagenes/actions/recur.png);
	}
	
#fee {
	width: 300px;;
}