#login{
	width:250px;
}

.loading{
	cursor:wait;
	background-position:center;
	background-repeat:no-repeat;
	
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
	
}
.loading a{
	cursor:wait;
	}
img.ajax{
	background-position:center;
	background-repeat:no-repeat;
	background-image:url(imagenes/ventana/loading.gif);
}
	
#bandeja .loading{
	cursor:pointer;
	background-image:none;
	
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
	}	
#bandeja .loading{
	cursor:pointer;
	background-image:none;
	
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
	}	

#login label{
	float:none;
}

#debug{
		font-size:9px;
		left:900px;
}
#messenger{
	color:#FFF;
	line-height:30px;
	}
a{
	color:#069;
	}
#messenger.loading{
	background-image:none;
	}
	
#debug{
	background-color:#000;
	color:#0C0;
	}
#debug p{
	margin:0;
	}	
	
	
.panelz1{
	width:920px;
	height:550px;
	border:1px dotted #000;
	display:block; 
	overflow:auto; 
	margin:auto;
	padding:0;	
	}

ul.iconos{
	list-style:none;
	margin:0;
	padding:0;
}
ul.iconos li{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	display:block;
	height:100px;
	
}
ul.iconos li a{
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

.iconos ul{
	list-style:none;
	margin:0;
	padding:0;
}
.iconos ul li{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	display:block;
	height:100px;
	
}
.iconos ul li a{
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

#chat_usuarios.loading{
	background-image:none;
	cursor:default;
	}
.colgroup{
	background-color:#090;
	border:1px solid #0F0;
	}	
.colgroup td{
	background-color:#090;
	border:1px solid #0F0;
	}
.horario{
	width:inherit;
	}
.horario td{
	padding:0;
	border:1px solid #000;
	}	
.horario td .ocupado{
	display:block;
	height:25px;
	background-color:#060;
	}
.horario td .libre{
	display:block;
	height:25px;
	background-color:#FFF;
	}

table.maqueta{
	width:100%;
	border-collapse:collapse;
	margin:0;
	border:none;
	background:none;
	}
	
th.maqueta, td.maqueta{
	margin:0;
	padding:0;
	border:none;
	background:none;
	}

tr.maqueta:hover td.maqueta{
	background:none;
}

td.ocupada{
	display:block;
	text-align:center;
	font-size:9px;
	}
td.ocupada a{
	font-size:9px;
	}
td.libre{
	}
a.info{
	 position:relative;
	 z-index:24;
	}
a.info:hover{
	z-index:25;
	}
.tooltip{
	display:none;
	}
a.info:hover .tooltip{
	display:block;
    position:absolute;
    top:2em; left:2em;
	}
.sql th.accion,	
.sql td.accion{
	width:15px;
	text-align:center;
	}
td.accion a.editar{
	background-image:url(imagenes/actions/edit.png);
	display:block;
	width:16px;
	height:16px;
	}
td.accion a.editar span{
	display:none;
	}
td.accion a.eliminar{
	background-image:url(imagenes/actions/edit_remove.png);
	display:block;
	width:16px;
	height:16px;
	}
td.accion a.eliminar span{
	display:none;
	}
h1 a{ color:#FFF; }

.cardex{
	font-family:"Courier New", Courier, monospace;
	font-size:11px;
	}
.cardex .etiqueta{
	font-weight:bold;
	}
.cardex h1{
	font-family:"Courier New", Courier, monospace;
	font-size:11px;
	font-weight:bold !important;
	color:#000 !important;
	background-color:transparent !important;
	}	
.cardex h1 a{
	color:#000;
	}
.cardex .nrc{
	width:90px;
	}
.cardex .clave{
	width:30px;
	}
.cardex .materia{
	width:200px;
	}
.cardex .calificacion{
	width:100px;
	}
.cardex .estado{
	width:100px;
	}
.cardex .recurso{
	width:100px;
	}
.cardex select{
	font-family:"Courier New", Courier, monospace;
	font-size:11px;
	}	
table.cardex{
	border:none;
	}
table.cardex td, table.cardex th{
	border:none;
	font-family:"Courier New", Courier, monospace;
	font-size:10px;
	overflow:hidden;
	}
table.cardex th.nrc{
	width:10%;
	}
table.cardex th.periodo{
	width:30%;
	}
table.cardex th.clave{
	width:15%;
	}
table.cardex th.materia{
	width:35%;
	}
table.cardex th.recurso{
	width:10%;
	}
table.cardex th.estado{
	width:10%;
	}
table.cardex th.calificacion{
	width:10%;
	}
table.cardex th.pagocele{
	width:12%;
	}
table.cardex th.pagocaa{
	width:12%;
	}
	
.hdisabled{
	border:1px solid #900;
	display:block;
	width:100%;
	height:100%;
	}
.hdseccion{
	display:block;
	width:100%;
	height:100%;
	border:1px solid #0FF;
	}
a.empalme{
	display:block;
	width:100%;
	height:100%;
	border:2px solid #FF0;
	background-color:#900;
	}
.hdsalon{
	display:block;
	width:100%;
	height:100%;
	border:1px solid #FF0;
	
	}
.hdprofesor{
	display:block;
	width:100%;
	height:100%;
	background-color:#00F;
	}
table.horario td{
	vertical-align:middle;
	margin:0;
	padding:0;
	}	
table.horario th{
	text-align:center;
	border:1px solid #000;
	}	
table.horario a{
	text-decoration:none;
	}
table.horario a.evento{
	display:block;
	color:#FFF;
	height:100%;
	}
table.horario .hinput{
	display:block;
	width:80px;
	height:50px;
	}
	
.vertical{
	display:block;
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);	
	}
.carta{
	display:block;
	width:16cm;
	margin:1cm 3cm 1cm 3cm;
	}
.error{
	background-color:#900;
	color:#FFF;
	padding:3px 3px;
	}
.flm{
	background-image:url(imagenes/bk_flm.png);
	display:block;
	width:550px;
	height:400px;
	}
.flm h1{
	display:block;
	height:40px;
	padding:20px;
	line-height:40px;
	text-align:center;
	color:#FFF;
	font-size:24px;
	font-variant:small-caps;
	}
.flm .info{
	display:block;
	height:250px;
	padding:0 20px;
	color:#FFF;
	font-size:14px;
	}
.flm .info a{
	color:#FFF;
	}

table.sql td input{
	width:100%;
	}
a.preview{
	float:left;
	display:block;
	width:100px;
	height:130px;
	padding:5px;
	margin:5px;	
	border:1px dotted #666;
	text-align:center;
	color:#000;
	text-decoration:none;
	}
a.preview img{
	margin-bottom:4px;
	}
.visor .archivo{
	vertical-align:middle;
	display:block;
	float:right;
	width:320px;
	height:280px;
	border:1px dotted #666;
	padding:5px;
	margin:5px;
	text-align:center;
	}
.visor .download{
	display:block;
	float:right;
	width:320px;
	height:80px;
	padding:5px;
	margin-top:5px;
	font-size:24px;
	text-align:center;
	}
.visor .datos{
	display:block;
	float:left;
	width:500px;
	}
.visor .datos input{
		width:360px;
	}
.visor .datos #keys,	
.visor .datos #descripcion,
.visor .datos #referencia{
		height:60px;
	}
	
.visor label{
	width:80px;
	}
	
.visor .archivo img{
	max-width:100%;
	max-height:100%;
	}
#articulos input[type="text"] {
	}
table.sql:hover tr td{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	}
table.sql:hover tr:hover td{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
	}
.trama1{
	background-image:url(imagenes/trama/trama1.jpg);
	}
	
.transparente{
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	
	}
