@charset "utf-8";

.maquetat .tbody{
	background-color:#009900;
	display:block;
	width:100%;
	overflow:auto;
	height:300px;;
	}
/* =links
----------------------------------------------- */

table.sql  a {
		color:#000085;
		text-decoration:none;
}

table.sql a:link {}

table.sql a:visited {
		font-weight:normal;
		color:#666;
		text-decoration: line-through;
}

table.sql a:hover {
		border-bottom: 1px dashed #bbb;
}
td.agrupada{
	vertical-align:middle;
	}
	
/* - - - type - - - */


table.type td,
table.type th
{
	border:1px dotted #CCC;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:10px;
	padding:5px 5px;
	}
/* - - - -  archivos - - - -*/
table.archivos{
	width:100%;
	}
table.archivos td{
	font-size:12px;
	}
table.archivos .cpar td{
	background-color:#F3F6F9;
	}	