<div>
    <ul class="nav nav-tabs">
        {% if ('webmaster' == role) %}
            {% include 'sections/admin/menus/webmaster.html.twig' %}
        {% elseif ('client' == role) %}
            {% include 'sections/admin/menus/client.html.twig' %}
        {% elseif ('admin' == role) %}
            {% include 'sections/admin/menus/admin.html.twig' %}
        {% elseif ('committee' == role) %}
            {% include 'sections/admin/menus/committee.html.twig' %}
        {% endif %}
        <li><a href="{{ url('user_logout') }}">Salir</a></li>
    </ul>
</div>
