<div class="modulos">
{% for key, menu in submenu.menu %}
    <div class="modulo">
	<h1>{{ key }}</h1>
	    <ul>
	        {% for label, routeName in menu.elements %}
    		<li>
        		<a class="ajax" href="{{ url(routeName, params) }}">
        		{{ label }}
        		</a>
    		</li>
    		{% endfor %}
	    </ul>
    </div>
{% endfor %}
</div>
