{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Editar recargo</h1>

<ul class="breadcrumb">
    <li><a href="{{ url('payment_list') }}">Pagos</a> <span class="divider">/</span></li>
    <li><a href="{{ url('surcharge_list', {'paymentId':params.paymentId}) }}">Recargos</a> <span class="divider">/</span></li>
    <li class="active">Editar recargo</li>
</ul>

{% include 'sections/admin/form.html.twig' %}
{% endblock %}

{% block jquery %}
<script type="text/javascript" src="/scripts/surcharge.js"></script>
<script type="text/javascript" src="/scripts/jquery.send.js"></script>
{% endblock %}
