{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Recargos</h1>

<ul class="breadcrumb">
    <li><a href="{{ url('payment_list') }}">Pagos</a> <span class="divider">/</span></li>
    <li class="active">Recargos</li>
</ul>

<p>
    <a class="btn btn-success btn-lg" href="{{ url('surcharge_create', {"paymentId": params.paymentId}) }}">
        Agregar
    </a>
</p>

<table class="table table-striped table-bordered table-hover">
        {% for surcharge in paginator %}
            {% if loop.first %}
                <thead>
                    <tr>
                        <th>Tipo de recargo</th>
                        {% if  surcharge.surcharge_type == 'M'%}
                            <th>Monto</th>
                        {% else %}
                            <th>Porcentaje</th>
                        {% endif %}
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            {% endif %}
        {% endfor %}
        <tbody>
        {% for surcharge in paginator %}
            <tr>
                {% if  surcharge.surcharge_type == 'M'%}
                    <td>Monto Fijo</td>
                    <td>{{ surcharge.fixed|number_format(2, '.', ',') }}</td>
                {% else %}
                    <td>Porcentaje</td>
                    <td>{{ surcharge.fixed}}%</td>
                {% endif %}
                <td>
                    <a href="{{ url('surcharge_edit', {'zoneId':params.zoneId, "propertyId": params.propertyId, 'paymentId': params.paymentId, "surchargeId": surcharge.surcharge_id}) }}">
                        Editar
                    </a>
                </td>
                <td>
                    <a href="{{ url('surcharge_remove', {'zoneId':params.zoneId, "propertyId": params.propertyId, 'paymentId': params.paymentId, "surchargeId": surcharge.surcharge_id}) }}">
                        Eliminar
                    </a>
                </td>
            </tr>
    {% else %}
            <tr class="info">
                <td colspan="4"><p class="lead text-center">Aún no existen recargos</p></td>
            </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <td colspan="4">
            <div class="pagination text-center">
                {{ pagerfanta(paginator, {'routeName': 'surcharge_list', routeParams:{'zoneId':params.zoneId, "propertyId": params.propertyId, 'paymentId': params.paymentId}})|raw }}
            </div>
        </td>
    </tfoot>
</table>
{% endblock %}
