{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Eliminar recargo</h1>

<ul class="breadcrumb">
    <li><a href="{{ url('payment_list') }}">Pagos</a> <span class="divider">/</span></li>
    <li>
        <a href="{{ url('surcharge_list', {'paymentId':params.paymentId}) }}">Recargos</a>
        <span class="divider">/</span>
    </li>
    <li class="active">Eliminar recargo</li>
</ul>

<form method="post" action="{{ url('surcharge_delete', {'paymentId': params.paymentId, "surchargeId": entity.surcharge_id}) }}">
    <ul class="entity">
        {% if  entity.surcharge_type == 'M' %}
            <li class="campo">
                <span class="label">Tipo de recargo: </span>
                <span>Monto fijo</span>
            </li>
            <li class="campo">
                <span class="label">Monto: </span>
                <span>${{ entity.fixed|number_format(2, '.', ',') }}</span>
            </li>
        {% else %}
            <li class="campo">
                <span class="label">Tipo de recargo: </span>
                <span>Porcentaje</span>
            </li>
            <li class="campo">
                <span class="label">Monto: </span>
                <span>{{ entity.fixed}}% (${{ ((entity.fixed/100)*entity.amount)|number_format(2, '.', ',') }})</span>
            </li>
        {% endif %}
    </ul>
    <div class="form-actions">
        <button value="Eliminar" type="submit" class="btn btn-danger">Eliminar</button>
    </div>
</form>
{% endblock %}
