{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Agregar tipo de propiedad</h1>

<ul class="breadcrumb">
    <li><a href="{{ url('type_list') }}">Tipos de propiedades</a> <span class="divider">/</span></li>
    <li class="active">Agregar tipo de propiedad</li>
</ul>

{% include 'sections/admin/form.html.twig' %}
{% endblock %}

{% block jquery %}
<script type="text/javascript" src="/scripts/jquery.send.js"></script>
{% endblock %}
