{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Tipos de propiedades</h1>

<p>
    <a class="btn btn-success btn-lg" href="{{ url('type_create') }}">Agregar</a>
</p>

<table class="table table-striped table-bordered table-hover">
        {% for type in paginator %}
            {% if loop.first %}
                <thead>
                    <tr>
                        <th >Tipo</th>
                        <th ></th>
                        <th ></th>
                    </tr>
                </thead>
            {% endif %}
        {% endfor %}
        <tbody>
        {% for type in paginator %}
            <tr>
                <td>{{ type.description }}</td>
                <td>
                    <a href="{{ url('type_edit', {"typeId": type.type_id}) }}">
                        Editar
                    </a>
                </td>
                <td>
                    <a href="{{ url('type_remove', {"typeId": type.type_id}) }}">
                        Eliminar
                    </a>
                </td>
            </tr>
        {% else %}
            <tr class="info">
                <td colspan="3">
                    <p class="lead text-center">Aún no existen tipos de propiedades</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <td colspan="3">
                <div class="pagination text-center">
                    {{ pagerfanta(paginator, {'routeName': 'type_list'})|raw }}
                </div>
            </td>
        </tfoot>
</table>
{% endblock %}
