{% extends 'layouts/admin.html.twig' %}

{% block content %}
<h1 class="page-header">Eliminar tipo de propiedado</h1>

<ul class="breadcrumb">
    <li><a href="{{ url('type_list') }}">Tipos de propiedades</a> <span class="divider">/</span></li>
    <li class="active">Eliminar tipo de propiedad</li>
</ul>

<form method="post" action="{{ url('type_delete', {"typeId": entity.type_id}) }}">
    <ul class="entity">
        <li class="campo">
            <span class="label">Tipo: </span>
            <span>{{ entity.description }}</span>
        </li>
    </ul>
    <div class="form-actions">
        <button value="Eliminar" type="submit" class="btn btn-danger">Eliminar</button>
    </div>
</form>
{% endblock %}
