{% extends 'layouts/default.html.twig' %}

{% block content %}

<h1>Quinta de Cortes</h1>
<p>
    <img src="/imgns/venta/QUINTAS DE CORTES EXTERIOR.JPG" style="float: right;"
        width="286" height="235" />
</p>
<ul>
    <li>Ubicacion: Av. Popocatepetl No 181</li>
    <li>Terreno:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        178.35 m2&nbsp;&nbsp;&nbsp;</li>
    <li>Dimensiones 9.37 frente x 19.00 fondo</li>
    <li>Construccion:&nbsp; 184.00 m2</li>
</ul>
<h3>Planta Baja.</h3>
<ul>
    <li>Vestibulo a doble altura</li>
    <li>Sala- Comedor</li>
    <li>Cocina Integral con despensa</li>
    <li>Cuarto de servicio con baño</li>
    <li>Cuarto de lavado</li>
    <li>Baño de visitas</li>
    <li>Jardín interior de 45 m2 aproximadamente</li>
    <li>Cochera para 2 autos</li>
    <li>Jardín exterior.</li>
</ul>
<h3>Planta Alta.</h3>
<ul>
    <li>Recamara principal con baño privado y closets aprox 30 m2</li>
    <li>2 Recamaras secundarias con amplios closets</li>
    <li>Baño compartido completo</li>
    <li>vestíbulo</li>
    <li>Nichos decorativos.</li>
</ul>
<p>Acabados.</p>
<ul>
    <li>Pisos interceramic en sala,comedor,cocina, pasillos y cuartos
        de servicios</li>
    <li>Muros interceramicos en baños</li>
    <li>Pisos laminados en recamaras.</li>
    <li>Carpintería de alta calidad en madera de Sapelli con herrajes
        de acero inoxidable</li>
    <li>WC one piece</li>
    <li>Lavabos de porcelana blanca con monomandos</li>
    <li>Monomandos en regaderas</li>
    <li>Bases de lavabos en mármol</li>
    <li>Cancelería de aluminio anonizado en color blanco con cristal
        tintex verde</li>
    <li>Sistema hidroneumático</li>
    <li>Escaleras con huellas de mader</li>
    <li>Calentador de paso marca Calorex (opción calentador solar con
        CE )</li>
    <li>Pergolado en cochera.<br /> &nbsp;<br /> <strong>Precio:
            $ 1,490,000.00</strong>&nbsp;&nbsp;
    </li>
</ul>

{% endblock %}
