{% extends 'layouts/default.html.twig' %}

{% block content %}
<h1>CASA RESIDENCIAL KAO</h1>
<br>
<h2 align="center" style="font-size: 16px;">ESTILO DE VIDA &amp;
    PLUSVALIA</h2>
<h2 align="center" style="font-size: 16px;">CASA RESIDENCIAL KAO EN
    ANGELÓPOLIS CLUSTER 888.</h2>
<br>
<img src="/imgns/venta/casa_angelopolis_clip_image002.jpg"
    style="float: right;">
<p>
    Casa de diseño contemporáneo. Iluminación natural &amp; acabados de
    lujo; ubicada en Paseo Toscana 57 Fracc. Residencial Lomas de
    Angelopolis. Amplio Jardín, roof garden, vigilancia las 24 hrs &amp;
    alta plusvalía. Agregamos valor a tu patrimonio.<br /> <br> <br>
    <a href="http://www.kaodepuebla.com.mx">www.kaodepuebla.com.mx</a> <br>
    <br> <a href="mailto:manuel.huerta@kaodepuebla.com.mx">manuel.huerta@kaodepuebla.com.mx</a>
</p>
<br>
<br>
<p>
    <strong>TRATO DIRECTO – FINANCIAMIENTO BANCARIO</strong>
</p>
<h3>
    <strong>CARACTERISTICAS</strong>
</h3>
<ul>
    <li>3 recámaras, c/u con baño, vestidor y closets.</li>
    <li>Cocina Integral en isla y desayunador, cubierta de granito,
        acabado de lujo.</li>
    <li>Sala - Comedor.</li>
    <li>Sala TV.</li>
    <li>Roof Garden</li>
    <li>5 ½ Baños.</li>
    <li>Amplio Jardín.</li>
    <li>Área de lavado.</li>
    <li>Cuarto de servicio con baño.</li>
    <li>Hidroneumático.</li>
    <li>Canceles de baños en cristales templados, pisos en porcelanato
        .<img src="/imgns/venta/casa_angelopolis_clip_image006.jpg"
        style="float: right;">
    </li>
</ul>
<h3>
    <strong>COMO LLEGAR</strong>
</h3>
<p>Fraccionamiento Residencial Lomas de Angelópolis 888.</p>
<p>Por vía Atlixcayotl hasta la caseta de cobro de Atlixco, dar
    vuelta en U antes de la caseta y a 50 mts a la derecha , nuevamente a
    50 mts a la derecha entrada Nte de Angelópolis ó entrar por el
    Periférico.</p>
<h3>
    <strong>INFORMES</strong>
</h3>
<p>
    Área de terreno:206 m2<br /> Área de construcción: 315 m2<br /> Área
    de Jardines: 67 m2<br /> Precio: $2,950,000 MN<br /> Informes y
    Ventas: Lunes a Domingo: 8:30 am a 10:30 pm<br /> KAO DE PUEBLA S.A DE
    C.V<br /> Oficina: 888 07 54 / 55<br /> Nextel: 430 52 70 / 320 06 76<br />
    ID: 72*710779*2 / 52*204236*3
</p>
{% endblock %}
